Repository dzcode-io/dzcode.io, changes with the labels that .github/labeler.yml gives for each.
All labels: api, data, web, common

add listBranches, listCommits and listForks
  api/src/controllers/github/index.ts
  api/src/routes/api/github/index.ts
  api/src/services/github/index.ts
Labels: api

updgraded axios, and removed @types/axios
  api/package.json
  web/package.json
  yarn.lock
Labels: api, web

fixed ci file typo
  .github/workflows/check-data.yml
Labels: none

updated tutos links
  README.md
  web/src/apps/main/entry/index.pug
  web/src/apps/main/redux/reducers/faq-page/faq.ts
Labels: web

add two functions listWatchers,listIssues.
  api/src/controllers/github/index.ts
  api/src/routes/api/github/index.ts
  api/src/services/github/index.ts
Labels: api

add two functions listWatchers,listIssues.
  api/src/controllers/github/index.ts
  api/src/routes/api/github/index.ts
  api/src/services/github/index.ts
Labels: api

fixed switch problem
  web/src/apps/main/components/navbar/ios-switch/index.tsx
  yarn.lock
Labels: web

updated tutos links
  README.md
  web/src/apps/main/entry/index.pug
  web/src/apps/main/redux/reducers/faq-page/faq.ts
Labels: web

fixed switch problem
  web/src/apps/main/components/navbar/ios-switch/index.tsx
  yarn.lock
Labels: web

updated tutos links
  README.md
  web/src/apps/main/entry/index.pug
  web/src/apps/main/redux/reducers/faq-page/faq.ts
Labels: web

updgraded axios, and removed @types/axios
  api/package.json
  web/package.json
  yarn.lock
Labels: api, web

fixed switch problem
  web/src/apps/main/components/navbar/ios-switch/index.tsx
  yarn.lock
Labels: web

updgraded axios, and removed @types/axios
  api/package.json
  web/package.json
  yarn.lock
Labels: api, web

fixed ci file typo
  .github/workflows/check-data.yml
Labels: none

fixed ci file typo
  .github/workflows/check-data.yml
Labels: none

cleaned the readme
  README.md
Labels: none

cleaned the readme
  README.md
Labels: none

📱 adding Project React_Native_Currency_Converter
  data/models/projects/React_Native_Currency_Converter/content.md
  data/models/projects/React_Native_Currency_Converter/info.json
  data/models/projects/list.json
  data/models/projects/ssr.json
Labels: data

📱 adding Project React_Native_Currency_Converter
  data/models/projects/React_Native_Currency_Converter/content.md
  data/models/projects/React_Native_Currency_Converter/info.json
  data/models/projects/list.json
  data/models/projects/ssr.json
Labels: data

Add PythonComplex project 🦼
  data/models/projects/Python_Complex/content.md
  data/models/projects/Python_Complex/info.json
  data/models/projects/list.json
  data/models/projects/ssr.json
Labels: data

Add PythonComplex project 🦼
  data/models/projects/Python_Complex/content.md
  data/models/projects/Python_Complex/info.json
  data/models/projects/list.json
  data/models/projects/ssr.json
Labels: data

WP Dev Server now accepts links with extentions
  web/webpack.config.js
Labels: web

WP Dev Server now accepts links with extentions
  web/webpack.config.js
Labels: web

fixed FAQ questions style
  web/src/apps/main/pages/faq/index.tsx
Labels: web

fixed FAQ questions style
  web/src/apps/main/pages/faq/index.tsx
Labels: web

fixed image link on Currency_Converter_React_Native
  data/models/projects/React_Native_Currency_Converter/info.json
Labels: data

fixed image link on Currency_Converter_React_Native
  data/models/projects/React_Native_Currency_Converter/info.json
Labels: data

removing redundant slug field
  data/models/projects/Algeria_Covid19_Tracker/info.json
  data/models/projects/Algerian_Administrative_Division/info.json
  data/models/projects/DzCode/info.json
  data/models/projects/Flutter_Reaction_Button/info.json
  data/models/projects/Kuliya/info.json
  data/models/projects/Leblad/info.json
  data/models/projects/Mishkal/info.json
  data/models/projects/React_Native_Currency_Converter/info.json
  data/models/projects/React_Project_Builder/info.json
Labels: data

removing redundant slug field
  data/models/projects/Algeria_Covid19_Tracker/info.json
  data/models/projects/Algerian_Administrative_Division/info.json
  data/models/projects/DzCode/info.json
  data/models/projects/Flutter_Reaction_Button/info.json
  data/models/projects/Kuliya/info.json
  data/models/projects/Leblad/info.json
  data/models/projects/Mishkal/info.json
  data/models/projects/React_Native_Currency_Converter/info.json
  data/models/projects/React_Project_Builder/info.json
Labels: data

added Flutter_Reaction_Button to SSR collection
  data/models/projects/ssr.json
Labels: data

added Flutter_Reaction_Button to SSR collection
  data/models/projects/ssr.json
Labels: data

fixing githubURI project wrong format
  data/models/projects/React_Native_Currency_Converter/info.json
Labels: data

fixing githubURI project wrong format
  data/models/projects/React_Native_Currency_Converter/info.json
Labels: data

Revert "fixing githubURI project wrong format"
  data/models/projects/React_Native_Currency_Converter/info.json
Labels: data

Revert "fixing githubURI project wrong format"
  data/models/projects/React_Native_Currency_Converter/info.json
Labels: data

Revert "Revert "fixing githubURI project wrong format""
  data/models/projects/React_Native_Currency_Converter/info.json
Labels: data

Revert "Revert "fixing githubURI project wrong format""
  data/models/projects/React_Native_Currency_Converter/info.json
Labels: data

.github/labeler.yml:

# Add 'api' to any changes within 'api' folder or any subfolders
api:
  - api/**/*

  # Add 'data' to any changes within 'data' folder or any subfolders
data:
  - data/**/*

# Add 'web' to any changes within 'web' folder or any subfolders
web:
  - web/**/*

# Add 'common' to any changes within 'common' folder or any subfolders
common:
  - common/**/*
