Repository dzcode-io/dzcode.io, changes with the labels that .github/labeler.yml gives for each.
All labels: api, data, project, article, documentation, web, common

fixed linting issues
  api/.prettierignore
  api/src/app/middlewares/docs.ts
  api/src/contributor/controller.ts
Labels: api

fixed linting issues
  api/.prettierignore
  api/src/app/middlewares/docs.ts
  api/src/contributor/controller.ts
Labels: api

moved swagger docs to /v2/docs
  README.md
  api/src/app/middlewares/docs.ts
Labels: api

moved swagger docs to /v2/docs
  README.md
  api/src/app/middlewares/docs.ts
Labels: api

fixed husy not working after yarn install
  package.json
Labels: none

fixed husy not working after yarn install
  package.json
Labels: none

added LoggerService
  api/src/logger/service.ts
Labels: api

added LoggerService
  api/src/logger/service.ts
Labels: api

used LoggerService instead of console
  api/package.json
  api/src/app/index.ts
  api/src/app/middlewares/error.ts
  api/src/app/middlewares/logger.ts
  yarn.lock
Labels: api

used LoggerService instead of console
  api/package.json
  api/src/app/index.ts
  api/src/app/middlewares/error.ts
  api/src/app/middlewares/logger.ts
  yarn.lock
Labels: api

fixed linting issues
  api/src/app/middlewares/error.ts
  api/src/app/middlewares/logger.ts
  api/src/logger/service.ts
Labels: api

fixed linting issues
  api/src/app/middlewares/error.ts
  api/src/app/middlewares/logger.ts
  api/src/logger/service.ts
Labels: api

added readme docs for API folder
  api/README.md
Labels: api

added readme docs for API folder
  api/README.md
Labels: api

removed redoundant ToC
  README.md
Labels: none

removed redoundant ToC
  README.md
Labels: none

Add GitHub Controller
  api/src/app/index.ts
  api/src/github/controller.ts
  api/src/github/service.ts
  api/src/github/types.ts
Labels: api

load env variable from env file
  api/oracle-cloud/docker-compose.yml
Labels: api

load env variable from env file
  api/oracle-cloud/docker-compose.yml
Labels: api

load env variable from env file
  api/oracle-cloud/docker-compose.yml
Labels: api

Delete try catch expression
  api/src/github/controller.ts
  api/src/github/service.ts
  api/src/github/types.ts
Labels: api

Remove the old 'Contributors' api
  api/src/app/controllers/contributors/index.ts
  api/src/app/routes/api/contributors/index.ts
  api/src/app/routes/api/index.ts
  web/src/apps/main/redux/actions/articles-page/index.ts
  web/src/apps/main/redux/actions/documentation-page/index.ts
Labels: api, web

Remove the old 'Contributors' api
  api/src/app/controllers/contributors/index.ts
  api/src/app/routes/api/contributors/index.ts
  api/src/app/routes/api/index.ts
  web/src/apps/main/redux/actions/articles-page/index.ts
  web/src/apps/main/redux/actions/documentation-page/index.ts
Labels: api, web

Migrate v2 github-user api
  api/src/app/index.ts
  api/src/github-user/controller.ts
  api/src/github-user/types.ts
  api/src/github/service.ts
  api/src/github/types.ts
Labels: api

Migrate v2 github-user api
  api/src/app/index.ts
  api/src/github-user/controller.ts
  api/src/github-user/types.ts
  api/src/github/service.ts
  api/src/github/types.ts
Labels: api

Remove old GithubUsers API
  api/src/app/controllers/github/index.ts
  api/src/app/routes/api/github/index.ts
  api/src/app/services/github/index.ts
Labels: api

Remove old GithubUsers API
  api/src/app/controllers/github/index.ts
  api/src/app/routes/api/github/index.ts
  api/src/app/services/github/index.ts
Labels: api

Call v2 GithubUsers api from frontend
  web/src/apps/main/redux/actions/articles-page/index.ts
  web/src/apps/main/redux/actions/documentation-page/index.ts
Labels: web

Call v2 GithubUsers api from frontend
  web/src/apps/main/redux/actions/articles-page/index.ts
  web/src/apps/main/redux/actions/documentation-page/index.ts
Labels: web

Use routing parameter
  api/src/github-user/controller.ts
Labels: api

Use routing parameter
  api/src/github-user/controller.ts
Labels: api

Update web/src/apps/main/redux/actions/articles-page/index.ts
  web/src/apps/main/redux/actions/articles-page/index.ts
Labels: web

Update web/src/apps/main/redux/actions/articles-page/index.ts
  web/src/apps/main/redux/actions/articles-page/index.ts
Labels: web

Update web/src/apps/main/redux/actions/documentation-page/index.ts
  web/src/apps/main/redux/actions/documentation-page/index.ts
Labels: web

Update web/src/apps/main/redux/actions/documentation-page/index.ts
  web/src/apps/main/redux/actions/documentation-page/index.ts
Labels: web

Update api/src/github/service.ts
  api/src/github/service.ts
Labels: api

Update api/src/github/service.ts
  api/src/github/service.ts
Labels: api

Update GetUserResponseDto class
  api/src/github-user/controller.ts
  api/src/github-user/types.ts
Labels: api

Update GetUserResponseDto class
  api/src/github-user/controller.ts
  api/src/github-user/types.ts
Labels: api

Update api/src/github-user/types.ts
  api/src/github-user/types.ts
Labels: api

.github/labeler.yml:

# Add 'api' to any changes within 'api' folder or any subfolders
api:
  - api/**/*

# Add 'data' to any changes within 'data' folder or any subfolders
data:
  - data/**/*

# Add 'project' to any changes within 'data/models/projects' folder or any subfolders
project:
  - data/models/projects/**/*

# Add 'article' to any changes within 'data/models/articles' folder or any subfolders
article:
  - data/models/articles/**/*

# Add 'documentation' to any changes within 'data/models/documentations' folder or any subfolders
documentation:
  - data/models/documentations/**/*

# Add 'web' to any changes within 'web' folder or any subfolders
web:
  - web/**/*

# Add 'common' to any changes within 'common' folder or any subfolders
common:
  - common/**/*
