Repository dzcode-io/dzcode.io, changes with the labels that .github/labeler.yml gives for each.
All labels: api, data, project, article, documentation, web, mobile, models, utils, tooling, ui, ui-mobile

.github/labeler.yml:

# Add 'api' to any changes within 'api' folder or any subfolders
api:
  - api/**/*

# Add 'data' to any changes within 'data' folder or any subfolders
data:
  - data/**/*

# Add 'project' to any changes within 'data/models/projects' folder or any subfolders
project:
  - data/models/projects/**/*
  - data/models/projects-v2/**/*

# Add 'article' to any changes within 'data/models/articles' folder or any subfolders
article:
  - data/models/articles/**/*

# Add 'documentation' to any changes within 'data/models/documentation' folder or any subfolders
documentation:
  - data/models/documentation/**/*

# Add 'web' to any changes within 'web' folder or any subfolders
web:
  - web/**/*

# Add 'mobile' to any changes within 'mobile' folder or any subfolders
mobile:
  - mobile/**/*

# Add 'models' to any changes within 'models' folder or any subfolders
models:
  - packages/models/**/*

# Add 'utils' to any changes within 'utils' folder or any subfolders
utils:
  - packages/utils/**/*

# Add 'tooling' to any changes within 'tooling' folder or any subfolders
tooling:
  - packages/tooling/**/*

# Add 'ui' to any changes within 'ui' folder or any subfolders
ui:
  - packages/ui/**/*

# Add 'ui-mobile' to any changes within 'ui-mobile' folder or any subfolders
ui-mobile:
  - packages/ui-mobile/**/*

use api to get list of docs
  api/src/app/endpoints.ts
  mobile/src/redux/actions/articles-screen/index.ts
  mobile/src/redux/actions/learn-screen/index.ts
  web/src/pages/learn/index.tsx
  web/src/redux/actions/learn-page/index.ts
Labels: api, web, mobile

use api to get a single of docs from ./web and ./mobile
  api/src/app/endpoints.ts
  api/src/article/controller.ts
  api/src/documentation/controller.ts
  mobile/src/redux/actions/learn-screen/index.ts
  mobile/src/redux/reducers/learn-screen/adapters/documents.ts
  mobile/src/redux/reducers/learn-screen/slice.ts
  mobile/src/screens/learn/document-details/index.tsx
  mobile/src/screens/learn/documents-list/index.tsx
  web/src/pages/learn/index.tsx
  web/src/redux/actions/learn-page/index.ts
Labels: api, web, mobile

show release channel in sidebar of ./mobile app
  mobile/src/screens/navigation.tsx
  mobile/src/utils/env.ts
  packages/ui-mobile/src/drawer/drawer-content/index.tsx
Labels: mobile, ui-mobile

set release channels in eas config file
  mobile/eas.json
Labels: mobile

migrated to the right release channel getter
  mobile/src/utils/env.ts
Labels: mobile

revert releaseChannel changes
  mobile/src/screens/navigation.tsx
  mobile/src/utils/env.ts
  packages/ui-mobile/src/drawer/drawer-content/index.tsx
Labels: mobile, ui-mobile

get release channel from build tools
  mobile/babel.config.js
  mobile/package.json
  mobile/src/types/__global.d.ts
  mobile/src/utils/env.ts
Labels: mobile

get environment from bundle info
  .github/workflows/cd.deploy.stg.yml
  .github/workflows/cd.deploy.yml
  mobile/babel.config.js
  mobile/package.json
  mobile/src/types/__global.d.ts
  mobile/src/utils/env.ts
  packages/tooling/bundle-info.ts
Labels: mobile, tooling

auto-draft stage release and prepare PRs
  .github/PULL_REQUEST_TEMPLATE.md
  .github/release-drafter.yml
  .github/workflows/stage-release.yml
Labels: none

updated draft template body
  .github/release-drafter.yml
Labels: none
