Repository dzcode-io/dzcode.io, changes with the labels that .github/labeler.yml gives for each.
All labels: api, data, project, article, documentation, web, common

fixed fb-comment style and removed redoudant css class
  web/src/apps/main/components/navbar/index.tsx
  web/src/apps/main/pages/learn/content/style.scss
Labels: web

fixed fb-comment style and removed redoudant css class
  web/src/apps/main/components/navbar/index.tsx
  web/src/apps/main/pages/learn/content/style.scss
Labels: web

used husky 6 and ensures modules are up-to-date
  .gitignore
  package.json
  yarn.lock
Labels: none

fixed yarn install error 127
  api/oracle-cloud/Dockerfile
Labels: api

fixed yarn install error 127
  api/oracle-cloud/Dockerfile
  package.json
  yarn.lock
Labels: api

fixed yarn install error 127
  api/oracle-cloud/Dockerfile
  package.json
  yarn.lock
Labels: api

merged deployment workflows into one flow
  .github/workflows/deploy-stg-api.yml
  .github/workflows/deploy-stg-data.yml
  .github/workflows/deploy-stg-web.yml
  .github/workflows/deploy-to-stage.yml
Labels: none

merged deployment workflows into one flow
  .github/workflows/deploy-api.yml
  .github/workflows/deploy-data.yml
  .github/workflows/deploy-stg-api.yml
  .github/workflows/deploy-stg-data.yml
  .github/workflows/deploy-stg-web.yml
  .github/workflows/deploy-to-production.yml
  .github/workflows/deploy-to-stage.yml
  .github/workflows/deploy-web.yml
Labels: none

merged deployment workflows into one flow
  .github/workflows/deploy-api.yml
  .github/workflows/deploy-data.yml
  .github/workflows/deploy-stg-api.yml
  .github/workflows/deploy-stg-data.yml
  .github/workflows/deploy-stg-web.yml
  .github/workflows/deploy-to-production.yml
  .github/workflows/deploy-to-stage.yml
  .github/workflows/deploy-web.yml
Labels: none

Add new project 'Melyon Theme' to Dzcode.io
  data/models/projects/Melyon_Theme/content.md
  data/models/projects/Melyon_Theme/info.json
  data/models/projects/list.json
  data/models/projects/ssr.json
Labels: data, project

Update content.md
  data/models/projects/Melyon_Theme/content.md
Labels: data, project

fixed an issue prettier style
  data/models/projects/Melyon_Theme/content.md
Labels: data, project

fixed prettier style issue
  data/models/projects/Melyon_Theme/info.json
Labels: data, project

Add new project 'Melyon Theme' to Dzcode.io (#303)
  data/models/projects/Melyon_Theme/content.md
  data/models/projects/Melyon_Theme/info.json
  data/models/projects/list.json
  data/models/projects/ssr.json
Labels: data, project

Add new project 'Melyon Theme' to Dzcode.io (#303)
  data/models/projects/Melyon_Theme/content.md
  data/models/projects/Melyon_Theme/info.json
  data/models/projects/list.json
  data/models/projects/ssr.json
Labels: data, project

changed Skeleton variant from circle to rect
  web/src/apps/main/components/card/index.tsx
Labels: web

changed Skeleton variant from circle to rect
  web/src/apps/main/components/card/index.tsx
Labels: web

changed master to main everywhere in the repo
  .github/CONTRIBUTING.md
  README.md
  data/models/projects/ReadMe.md
Labels: data, project

changed master to main everywhere in the repo
  .github/CONTRIBUTING.md
  README.md
  data/models/projects/ReadMe.md
Labels: data, project

added AiPalettes
  data/models/projects/AiPalettes/info.json
  data/models/projects/list.json
Labels: data, project

added AiPalettes
  data/models/projects/AiPalettes/info.json
  data/models/projects/list.json
Labels: data, project

Orchestrate npm scripts to avoid runtime problems
  api/nodemon.json
  package.json
  yarn.lock
Labels: api

Orchestrate npm scripts to avoid runtime problems
  api/nodemon.json
  package.json
  yarn.lock
Labels: api

used --cwd dir instead cd dir
  package.json
Labels: none

used --cwd dir instead cd dir
  package.json
Labels: none

ued workspaces run instead of cd dir
  package.json
Labels: none

ued workspaces run instead of cd dir
  package.json
Labels: none

added filters component
  web/src/apps/main/entry/app.tsx
  web/src/apps/main/pages/contribute/filters/index.tsx
  web/src/apps/main/pages/contribute/index.tsx
  web/src/apps/main/redux/index.ts
  web/src/apps/main/redux/reducers/contribute-page/index.ts
  web/src/apps/main/redux/reducers/index.ts
Labels: web

added /Contribute link to navbar
  web/src/apps/main/redux/reducers/navbar-component/index.ts
Labels: web

added filters component
  web/src/apps/main/entry/app.tsx
  web/src/apps/main/pages/contribute/filters/index.tsx
  web/src/apps/main/pages/contribute/index.tsx
  web/src/apps/main/redux/index.ts
  web/src/apps/main/redux/reducers/contribute-page/index.ts
  web/src/apps/main/redux/reducers/index.ts
Labels: web

added /Contribute link to navbar
  web/src/apps/main/redux/reducers/navbar-component/index.ts
Labels: web

added contribution component
  web/src/apps/main/pages/contribute/contributions/index.tsx
  web/src/apps/main/pages/contribute/filters/index.tsx
  web/src/apps/main/pages/contribute/index.tsx
  web/src/apps/main/redux/reducers/contribute-page/index.ts
Labels: web

added contribution component
  web/src/apps/main/pages/contribute/contributions/index.tsx
  web/src/apps/main/pages/contribute/filters/index.tsx
  web/src/apps/main/pages/contribute/index.tsx
  web/src/apps/main/redux/reducers/contribute-page/index.ts
Labels: web

added loading indicator
  web/src/apps/main/pages/contribute/contributions/index.tsx
Labels: web

added loading indicator
  web/src/apps/main/pages/contribute/contributions/index.tsx
Labels: web

fetch contribution on filters update
  web/src/apps/main/pages/contribute/contributions/index.tsx
  web/src/apps/main/pages/contribute/filters/index.tsx
  web/src/apps/main/pages/contribute/index.tsx
  web/src/apps/main/redux/actions/contribute-page/index.ts
  web/src/apps/main/redux/reducers/contribute-page/index.ts
Labels: web

fetch contribution on filters update
  web/src/apps/main/pages/contribute/contributions/index.tsx
  web/src/apps/main/pages/contribute/filters/index.tsx
  web/src/apps/main/pages/contribute/index.tsx
  web/src/apps/main/redux/actions/contribute-page/index.ts
  web/src/apps/main/redux/reducers/contribute-page/index.ts
Labels: web

removed "More Details" CTA button
  web/src/apps/main/pages/contribute/contributions/index.tsx
Labels: web

removed "More Details" CTA button
  web/src/apps/main/pages/contribute/contributions/index.tsx
Labels: web

improved both UI and Contribution interface
  web/src/apps/main/pages/contribute/contributions/index.tsx
  web/src/apps/main/redux/actions/contribute-page/index.ts
  web/src/apps/main/redux/reducers/contribute-page/index.ts
Labels: web

.github/labeler.yml:

# Add 'api' to any changes within 'api' folder or any subfolders
api:
  - api/**/*

# Add 'data' to any changes within 'data' folder or any subfolders
data:
  - data/**/*

# Add 'project' to any changes within 'data/models/projects' folder or any subfolders
project:
  - data/models/projects/**/*

# Add 'article' to any changes within 'data/models/articles' folder or any subfolders
article:
  - data/models/articles/**/*

# Add 'documentation' to any changes within 'data/models/documentations' folder or any subfolders
documentation:
  - data/models/documentations/**/*

# Add 'web' to any changes within 'web' folder or any subfolders
web:
  - web/**/*

# Add 'common' to any changes within 'common' folder or any subfolders
common:
  - common/**/*
