Repository dzcode-io/dzcode.io, changes with the labels that .github/labeler.yml gives for each.
All labels: api, data, project, article, documentation, web, common

.github/labeler.yml:

# Add 'api' to any changes within 'api' folder or any subfolders
api:
  - api/**/*

# Add 'data' to any changes within 'data' folder or any subfolders
data:
  - data/**/*

# Add 'project' to any changes within 'data/models/projects' folder or any subfolders
project:
  - data/models/projects/**/*

# Add 'article' to any changes within 'data/models/articles' folder or any subfolders
article:
  - data/models/articles/**/*

# Add 'documentation' to any changes within 'data/models/documentations' folder or any subfolders
documentation:
  - data/models/documentations/**/*

# Add 'web' to any changes within 'web' folder or any subfolders
web:
  - web/**/*

# Add 'common' to any changes within 'common' folder or any subfolders
common:
  - common/**/*

improved both UI and Contribution interface
  web/src/apps/main/pages/contribute/contributions/index.tsx
  web/src/apps/main/redux/actions/contribute-page/index.ts
  web/src/apps/main/redux/reducers/contribute-page/index.ts
Labels: web

added /Contributions endpoint with mock data
  api/package.json
  api/src/app/index.ts
  api/src/contribution/controller.ts
  api/src/contribution/mock.ts
  api/src/contribution/repository.ts
  common/src/types/api-responses.ts
  common/src/types/index.ts
  yarn.lock
Labels: api, common

added /Contributions endpoint with mock data
  api/package.json
  api/src/app/index.ts
  api/src/contribution/controller.ts
  api/src/contribution/mock.ts
  api/src/contribution/repository.ts
  common/src/types/api-responses.ts
  common/src/types/index.ts
  yarn.lock
Labels: api, common

connected web to api
  web/src/apps/main/pages/contribute/filters/index.tsx
  web/src/apps/main/redux/actions/contribute-page/index.ts
  web/src/apps/main/redux/reducers/contribute-page/index.ts
Labels: web

connected web to api
  web/src/apps/main/pages/contribute/filters/index.tsx
  web/src/apps/main/redux/actions/contribute-page/index.ts
  web/src/apps/main/redux/reducers/contribute-page/index.ts
Labels: web

added fetch service
  api/.gitignore
  api/package.json
  api/src/config/dto.ts
  api/src/fetch/service.ts
  yarn.lock
Labels: api

added fetch service
  api/.gitignore
  api/package.json
  api/src/config/dto.ts
  api/src/fetch/service.ts
  yarn.lock
Labels: api

added listRepositoryIssues & listRepositoryLanguages methods
  api/src/github/service.ts
  api/src/github/types.ts
  common/src/types/index.ts
Labels: api, common

added listRepositoryIssues & listRepositoryLanguages methods
  api/src/github/service.ts
  api/src/github/types.ts
  common/src/types/index.ts
Labels: api, common

get contributions from all listed projects
  api/src/contribution/mock.ts
  api/src/contribution/projects-list.ts
  api/src/contribution/repository.ts
  common/src/types/index.ts
Labels: api, common

get contributions from all listed projects
  api/src/contribution/mock.ts
  api/src/contribution/projects-list.ts
  api/src/contribution/repository.ts
  common/src/types/index.ts
Labels: api, common

dispaly type & commnets count on contribution card
  web/src/apps/main/pages/contribute/contributions/index.tsx
Labels: web

dispaly type & commnets count on contribution card
  web/src/apps/main/pages/contribute/contributions/index.tsx
Labels: web

added elapsed time since contribution is updated
  web/src/apps/main/pages/contribute/contributions/index.tsx
  web/src/common/utils/elapsed-time.ts
Labels: web

added elapsed time since contribution is updated
  web/src/apps/main/pages/contribute/contributions/index.tsx
  web/src/common/utils/elapsed-time.ts
Labels: web

add two colors based on contribution type
  web/src/apps/main/pages/contribute/contributions/index.tsx
Labels: web

add two colors based on contribution type
  web/src/apps/main/pages/contribute/contributions/index.tsx
Labels: web

fixed failing unit test for github service
  api/src/github/service.spec.ts
Labels: api

fixed failing unit test for github service
  api/src/github/service.spec.ts
Labels: api

filter contributions by project, label, language
  api/src/contribution/controller.ts
  api/src/contribution/repository.ts
  common/src/types/api-responses.ts
Labels: api, common

filter contributions by project, label, language
  api/src/contribution/controller.ts
  api/src/contribution/repository.ts
  common/src/types/api-responses.ts
Labels: api, common

apply filters from the frontend
  web/src/apps/main/redux/actions/contribute-page/index.ts
Labels: web

apply filters from the frontend
  web/src/apps/main/redux/actions/contribute-page/index.ts
Labels: web

select only one filter when clicking on a chip
  web/src/apps/main/pages/contribute/contributions/index.tsx
  web/src/apps/main/redux/actions/contribute-page/index.ts
Labels: web

select only one filter when clicking on a chip
  web/src/apps/main/pages/contribute/contributions/index.tsx
  web/src/apps/main/redux/actions/contribute-page/index.ts
Labels: web

select only one filter when clicking on a chip
  web/src/apps/main/pages/contribute/contributions/index.tsx
  web/src/apps/main/redux/actions/contribute-page/index.ts
Labels: web

implimented E-Tag on all github service calls
  api/src/github/service.spec.ts
  api/src/github/service.ts
Labels: api

implimented E-Tag on all github service calls
  api/src/github/service.spec.ts
  api/src/github/service.ts
Labels: api

change cache from container level to system level
  api/oracle-cloud/docker-compose.yml
Labels: api

change cache from container level to system level
  api/oracle-cloud/docker-compose.yml
Labels: api

added /Contribute to SEO, and updated the existing urls
  web/src/apps/main/entry/webpack.plugins.js
  web/src/build/sitemap.js
Labels: web

added /Contribute to SEO, and updated the existing urls
  web/src/apps/main/entry/webpack.plugins.js
  web/src/build/sitemap.js
Labels: web

redefined projects in data folder and used it for getting project list
  api/src/contribution/controller.ts
  api/src/contribution/mock.ts
  api/src/contribution/projects-list.ts
  api/src/contribution/repository.ts
  common/package.json
  common/src/types/index.ts
  common/src/utils/data.ts
  data/models/projects-v2/Algeria_Covid19_Tracker/info.json
  data/models/projects-v2/Algerian_Administrative_Division/info.json
  data/models/projects-v2/Flutter_Reaction_Button/info.json
  data/models/projects-v2/Kuliya/info.json
  data/models/projects-v2/Leblad/info.json
  data/models/projects-v2/List_to_Tree_aka_l2t/info.json
  data/models/projects-v2/Melyon_Theme/info.json
  data/models/projects-v2/Mishkal/info.json
  data/models/projects-v2/Python_Complex/info.json
  data/models/projects-v2/React_Native_Currency_Converter/info.json
  data/models/projects-v2/React_Native_Help_Create/info.json
  data/models/projects-v2/React_Project_Builder/info.json
  data/models/projects-v2/Voice_Translator_React_Native/info.json
  data/models/projects-v2/dzcode.io_website/info.json
  data/models/projects-v2/list.json
  data/nodemon.json
  yarn.lock
Labels: api, data, common

redefined projects in data folder and used it for getting project list
  api/src/contribution/controller.ts
  api/src/contribution/mock.ts
  api/src/contribution/projects-list.ts
  api/src/contribution/repository.ts
  common/package.json
  common/src/types/index.ts
  common/src/utils/data.ts
  data/models/projects-v2/Algeria_Covid19_Tracker/info.json
  data/models/projects-v2/Algerian_Administrative_Division/info.json
  data/models/projects-v2/Flutter_Reaction_Button/info.json
  data/models/projects-v2/Kuliya/info.json
  data/models/projects-v2/Leblad/info.json
  data/models/projects-v2/List_to_Tree_aka_l2t/info.json
  data/models/projects-v2/Melyon_Theme/info.json
  data/models/projects-v2/Mishkal/info.json
  data/models/projects-v2/Python_Complex/info.json
  data/models/projects-v2/React_Native_Currency_Converter/info.json
  data/models/projects-v2/React_Native_Help_Create/info.json
  data/models/projects-v2/React_Project_Builder/info.json
  data/models/projects-v2/Voice_Translator_React_Native/info.json
  data/models/projects-v2/dzcode.io_website/info.json
  data/models/projects-v2/list.json
  data/nodemon.json
  yarn.lock
Labels: api, data, common

updated the guide on how to add your Project
  data/models/documentation/About_dzcode_io/Add_Your_Project_To_dzcode_io/content.md
Labels: data

updated the guide on how to add your Project
  data/models/documentation/About_dzcode_io/Add_Your_Project_To_dzcode_io/content.md
Labels: data

deploy data folder folder with api
  .github/workflows/deploy-to-production.yml
  .github/workflows/deploy-to-stage.yml
  api/oracle-cloud/deploy.js
Labels: api

deploy data folder folder with api
  .github/workflows/deploy-to-production.yml
  .github/workflows/deploy-to-stage.yml
  api/oracle-cloud/deploy.js
Labels: api

fixed linting issue
  data/models/projects/AiPalettes/info.json
Labels: data, project

fixed linting issue
  data/models/projects/AiPalettes/info.json
Labels: data, project
