Repository dzcode-io/dzcode.io, changes with the labels that .github/labeler.yml gives for each.
All labels: api, data, frontend, fullstack

.github/labeler.yml:

# Add 'api' to any changes within 'api' folder or any subfolders
api:
  - api/**/*

  # Add 'data' to any changes within 'data' folder or any subfolders
data:
  - data/**/*

# Add 'frontend' to any changes within 'frontend' folder or any subfolders
frontend:
  - frontend/**/*

# Add 'fullstack' to any changes within 'fullstack' folder or any subfolders
fullstack:
  - fullstack/**/*

* change file name to be snake cased.
  frontend/src/apps/main/entry/index.tsx
  frontend/src/apps/main/pages/not_found/index.tsx
Labels: frontend

* change file name to be snake cased.
  frontend/src/apps/main/entry/index.tsx
  frontend/src/apps/main/pages/not_found/index.tsx
Labels: frontend

removed install --production
  .github/workflows/deploy-data.yml
  .github/workflows/deploy-frontend.yml
  .github/workflows/deploy-staging-data.yml
  .github/workflows/deploy-staging-frontend.yml
Labels: none

removed install --production
  .github/workflows/deploy-data.yml
  .github/workflows/deploy-frontend.yml
  .github/workflows/deploy-staging-data.yml
  .github/workflows/deploy-staging-frontend.yml
Labels: none

AlgerianAdministrativeDivision project added to dzcode.io
  data/projects/Algerian_Administrative_Division/info.json
  data/projects/list.json
  data/projects/ssr.json
Labels: data

AlgerianAdministrativeDivision project added to dzcode.io
  data/projects/Algerian_Administrative_Division/info.json
  data/projects/list.json
  data/projects/ssr.json
Labels: data

fixed linting errors
  data/projects/Algerian_Administrative_Division/info.json
  data/projects/list.json
  data/projects/ssr.json
Labels: data

fixed linting errors
  data/projects/Algerian_Administrative_Division/info.json
  data/projects/list.json
  data/projects/ssr.json
Labels: data

Update data/projects/Algerian_Administrative_Division/info.json
  data/projects/Algerian_Administrative_Division/info.json
Labels: data

Update data/projects/Algerian_Administrative_Division/info.json
  data/projects/Algerian_Administrative_Division/info.json
Labels: data

Update data/projects/Algerian_Administrative_Division/info.json
  data/projects/Algerian_Administrative_Division/info.json
Labels: data

Update data/projects/Algerian_Administrative_Division/info.json
  data/projects/Algerian_Administrative_Division/info.json
Labels: data

Update data/projects/Algerian_Administrative_Division/info.json
  data/projects/Algerian_Administrative_Division/info.json
Labels: data

Update data/projects/Algerian_Administrative_Division/info.json
  data/projects/Algerian_Administrative_Division/info.json
Labels: data

Update data/projects/list.json
  data/projects/list.json
Labels: data

Update data/projects/list.json
  data/projects/list.json
Labels: data

Update data/projects/ssr.json
  data/projects/ssr.json
Labels: data

Update data/projects/ssr.json
  data/projects/ssr.json
Labels: data

Social media links updated in Footer
  frontend/src/apps/main/redux/reducers/layout-reducer/index.ts
Labels: frontend

Social media links updated in Footer
  frontend/src/apps/main/redux/reducers/layout-reducer/index.ts
Labels: frontend

Footer LinkedIn link changed to the LinkedIn group link
  frontend/src/apps/main/redux/reducers/layout-reducer/index.ts
Labels: frontend

Footer LinkedIn link changed to the LinkedIn group link
  frontend/src/apps/main/redux/reducers/layout-reducer/index.ts
Labels: frontend

* article not found handeling.
  frontend/src/apps/main/redux/actions/articles-page/index.ts
  frontend/src/apps/main/redux/reducers/articles-page/index.ts
Labels: frontend

* article not found handeling.
  frontend/src/apps/main/redux/actions/articles-page/index.ts
  frontend/src/apps/main/redux/reducers/articles-page/index.ts
Labels: frontend
