Repository dzcode-io/dzcode.io, changes with the labels that .github/labeler.yml gives for each.
All labels: api, data, project, article, documentation, web, common

Update api/src/github-user/types.ts
  api/src/github-user/types.ts
Labels: api

Update api/src/github-user/types.ts
  api/src/github-user/types.ts
Labels: api

Update api/src/github-user/types.ts
  api/src/github-user/types.ts
Labels: api

Update api/src/github-user/types.ts
  api/src/github-user/types.ts
Labels: api

Update api/src/github-user/types.ts
  api/src/github-user/types.ts
Labels: api

Update api/src/github-user/types.ts
  api/src/github-user/types.ts
Labels: api

Update api/src/github-user/types.ts
  api/src/github-user/types.ts
Labels: api

Update GithubUser interface
  api/src/github/dto.ts
  api/test/mocks.ts
  common/src/types/index.ts
Labels: api, common

Update GithubUser interface
  api/src/github/dto.ts
  api/test/mocks.ts
  common/src/types/index.ts
Labels: api, common

moved api responses to common folder
  api/src/app/middlewares/error.ts
  api/src/app/types/index.ts
  api/src/contributor/controller.ts
  api/src/contributor/types.ts
  api/src/github-user/controller.ts
  api/src/github-user/types.ts
  api/src/github/dto.ts
  api/src/github/service.ts
  common/package.json
  common/src/types/api-responses.ts
Labels: api, common

moved api responses to common folder
  api/src/app/middlewares/error.ts
  api/src/app/types/index.ts
  api/src/contributor/controller.ts
  api/src/contributor/types.ts
  api/src/github-user/controller.ts
  api/src/github-user/types.ts
  api/src/github/dto.ts
  api/src/github/service.ts
  common/package.json
  common/src/types/api-responses.ts
Labels: api, common

used api response types in frontend
  api/src/contributor/controller.spec.ts
  common/package.json
  common/src/types/api-responses.ts
  web/package.json
  web/src/apps/main/redux/actions/articles-page/index.ts
  web/src/apps/main/redux/actions/documentation-page/index.ts
Labels: api, web, common

used api response types in frontend
  api/src/contributor/controller.spec.ts
  common/package.json
  common/src/types/api-responses.ts
  web/package.json
  web/src/apps/main/redux/actions/articles-page/index.ts
  web/src/apps/main/redux/actions/documentation-page/index.ts
Labels: api, web, common

fixed cors bug
  api/src/app/middlewares/security.ts
Labels: api

fixed cors bug
  api/src/app/middlewares/security.ts
Labels: api

corrected ENV to NODE_ENV
  api/src/app/index.ts
  api/src/app/middlewares/security.ts
  api/src/config/dto.ts
  api/src/config/service.spec.ts
Labels: api

corrected ENV to NODE_ENV
  api/src/app/index.ts
  api/src/app/middlewares/security.ts
  api/src/config/dto.ts
  api/src/config/service.spec.ts
Labels: api

add projects shuffling
  web/src/apps/main/redux/actions/projects-page/index.ts
Labels: web

add projects shuffling
  web/src/apps/main/redux/actions/projects-page/index.ts
Labels: web

removed checkboxe from PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

removed checkboxe from PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

modified testing - added @testing-library/react - added footer test - modified imports resolving in jest.config tsconfig
  web/jest.config.js
  web/package.json
  web/src/apps/main/components/footer/__snapshots__/footer.spec.tsx.snap
  web/src/apps/main/components/footer/footer.spec.tsx
  web/src/apps/main/components/footer/index.tsx
  web/tsconfig.json
  yarn.lock
Labels: web

modified testing - added @testing-library/react - added footer test - modified imports resolving in jest.config tsconfig
  web/jest.config.js
  web/package.json
  web/src/apps/main/components/footer/__snapshots__/footer.spec.tsx.snap
  web/src/apps/main/components/footer/footer.spec.tsx
  web/src/apps/main/components/footer/index.tsx
  web/tsconfig.json
  yarn.lock
Labels: web

removed redundant Zenhub comment
  .github/ISSUE_TEMPLATE/task.md
Labels: none

removed redundant Zenhub comment
  .github/ISSUE_TEMPLATE/task.md
Labels: none

fixed lint issue and skipped coverage threshold
  web/.prettierignore
  web/jest.config.js
Labels: web

fixed lint issue and skipped coverage threshold
  web/.prettierignore
  web/jest.config.js
Labels: web

100% coverage for integration test of faq page
  web/jest.config.js
  web/package.json
  web/src/apps/main/pages/faq/__snapshots__/index.int.spec.tsx.snap
  web/src/apps/main/pages/faq/index.int.spec.tsx
  web/src/apps/main/pages/faq/index.tsx
Labels: web

100% coverage for integration test of faq page
  web/jest.config.js
  web/package.json
  web/src/apps/main/pages/faq/__snapshots__/index.int.spec.tsx.snap
  web/src/apps/main/pages/faq/index.int.spec.tsx
  web/src/apps/main/pages/faq/index.tsx
Labels: web

creates new store intead of using the common one
  web/src/apps/main/components/footer/footer.spec.tsx
Labels: web

creates new store intead of using the common one
  web/src/apps/main/components/footer/footer.spec.tsx
Labels: web

removed duplicate imports
  web/src/apps/main/redux/index.ts
Labels: web

removed duplicate imports
  web/src/apps/main/redux/index.ts
Labels: web

fixed eslint warnings
  api/src/app/controllers/github/index.ts
  api/src/app/services/github/index.ts
  web/src/apps/main/components/sidebar/index.tsx
Labels: api, web

fixed eslint warnings
  api/src/app/controllers/github/index.ts
  api/src/app/services/github/index.ts
  web/src/apps/main/components/sidebar/index.tsx
Labels: api, web

use stable and up-to-date deps
  api/package.json
  web/package.json
  web/src/apps/main/components/card/index.tsx
  web/src/apps/main/components/footer/__snapshots__/footer.spec.tsx.snap
  web/src/apps/main/pages/faq/__snapshots__/index.int.spec.tsx.snap
  web/webpack.config.js
Labels: api, web

use stable and up-to-date deps
  api/package.json
  web/package.json
  web/src/apps/main/components/card/index.tsx
  web/src/apps/main/components/footer/__snapshots__/footer.spec.tsx.snap
  web/src/apps/main/pages/faq/__snapshots__/index.int.spec.tsx.snap
  web/webpack.config.js
Labels: api, web

used husky 6 and ensures modules are up-to-date
  .gitignore
  package.json
  yarn.lock
Labels: none

improved PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

improved PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

.github/labeler.yml:

# Add 'api' to any changes within 'api' folder or any subfolders
api:
  - api/**/*

# Add 'data' to any changes within 'data' folder or any subfolders
data:
  - data/**/*

# Add 'project' to any changes within 'data/models/projects' folder or any subfolders
project:
  - data/models/projects/**/*

# Add 'article' to any changes within 'data/models/articles' folder or any subfolders
article:
  - data/models/articles/**/*

# Add 'documentation' to any changes within 'data/models/documentations' folder or any subfolders
documentation:
  - data/models/documentations/**/*

# Add 'web' to any changes within 'web' folder or any subfolders
web:
  - web/**/*

# Add 'common' to any changes within 'common' folder or any subfolders
common:
  - common/**/*
