Repository dzcode-io/dzcode.io, changes with the labels that .github/labeler.yml gives for each.
All labels: api, data, web, common

deploying v1.0.0
  README.md
  web/package.json
Labels: web

deploying v1.0.0
  README.md
  web/package.json
Labels: web

fixed file sys issue
  .github/workflows/deploy-stg-data.yml
  .github/workflows/deploy-stg-web.yml
Labels: none

fixed file sys issue
  .github/workflows/deploy-stg-data.yml
  .github/workflows/deploy-stg-web.yml
Labels: none

fixed broken links & rearranged bades order
  README.md
Labels: none

fixed broken links & rearranged bades order
  README.md
Labels: none

fixed ci triggers
  .github/workflows/check-api.yml
  .github/workflows/check-data.yml
  .github/workflows/check-web.yml
  .github/workflows/deploy-data.yml
  .github/workflows/deploy-stg-data.yml
  .github/workflows/deploy-stg-web.yml
  .github/workflows/deploy-web.yml
Labels: none

fixed ci triggers
  .github/workflows/check-api.yml
  .github/workflows/check-data.yml
  .github/workflows/check-web.yml
  .github/workflows/deploy-data.yml
  .github/workflows/deploy-stg-data.yml
  .github/workflows/deploy-stg-web.yml
  .github/workflows/deploy-web.yml
Labels: none

endpoint for getting contributors by file
  api/package.json
  api/src/controllers/contributors/index.ts
  api/src/index.ts
  api/src/routes/api/contributors/index.ts
  api/src/routes/api/index.ts
  api/src/services/github/index.ts
  api/src/services/github/types.ts
  common/src/types/index.ts
  yarn.lock
Labels: api, common

endpoint for getting contributors by file
  api/package.json
  api/src/controllers/contributors/index.ts
  api/src/index.ts
  api/src/routes/api/contributors/index.ts
  api/src/routes/api/index.ts
  api/src/services/github/index.ts
  api/src/services/github/types.ts
  common/src/types/index.ts
  yarn.lock
Labels: api, common

fetch & display contributors to article & document
  web/src/apps/main/components/contributors/index.tsx
  web/src/apps/main/pages/articles/content/index.tsx
  web/src/apps/main/pages/articles/index.tsx
  web/src/apps/main/pages/learn/content/index.tsx
  web/src/apps/main/pages/learn/index.tsx
  web/src/apps/main/redux/actions/articles-page/index.ts
  web/src/apps/main/redux/actions/documentation-page/index.ts
Labels: web

fetch & display contributors to article & document
  web/src/apps/main/components/contributors/index.tsx
  web/src/apps/main/pages/articles/content/index.tsx
  web/src/apps/main/pages/articles/index.tsx
  web/src/apps/main/pages/learn/content/index.tsx
  web/src/apps/main/pages/learn/index.tsx
  web/src/apps/main/redux/actions/articles-page/index.ts
  web/src/apps/main/redux/actions/documentation-page/index.ts
Labels: web

fixed cashing not working in local
  common/src/utils/data.ts
  web/src/apps/main/redux/actions/articles-page/index.ts
  web/src/apps/main/redux/actions/documentation-page/index.ts
Labels: web, common

fixed cashing not working in local
  common/src/utils/data.ts
  web/src/apps/main/redux/actions/articles-page/index.ts
  web/src/apps/main/redux/actions/documentation-page/index.ts
Labels: web, common

added api deployment script
  README.md
  api/.eslintignore
  api/.gitignore
  api/.prettierignore
  api/package.json
  api/vultr/Dockerfile
  api/vultr/deploy.js
  api/vultr/docker-compose.yml
Labels: api

added api deployment script
  README.md
  api/.eslintignore
  api/.gitignore
  api/.prettierignore
  api/package.json
  api/vultr/Dockerfile
  api/vultr/deploy.js
  api/vultr/docker-compose.yml
Labels: api

added deployment CI actions
  .github/workflows/deploy-api.yml
  .github/workflows/deploy-stg-api.yml
Labels: none

added deployment CI actions
  .github/workflows/deploy-api.yml
  .github/workflows/deploy-stg-api.yml
Labels: none

fixed cors issue
  api/src/index.ts
Labels: api

updated staging api url
  common/src/config/index.ts
Labels: common

updated staging url
  api/src/index.ts
  common/src/config/index.ts
Labels: api, common

updated staging url to stage
  README.md
  api/src/index.ts
  common/src/config/index.ts
  data/firebase/.firebaserc
  data/firebase/firebase.json
  data/package.json
  web/firebase/.firebaserc
  web/firebase/firebase.json
  web/package.json
  web/src/common/utils/index.ts
Labels: api, data, web, common

updated staging url to stage
  README.md
  api/src/index.ts
  common/src/config/index.ts
  data/firebase/.firebaserc
  data/firebase/firebase.json
  data/package.json
  web/firebase/.firebaserc
  web/firebase/firebase.json
  web/package.json
  web/src/common/utils/index.ts
Labels: api, data, web, common

removed cashes
  data/firebase/firebase.json
  web/firebase/firebase.json
Labels: data, web

removed cashes
  data/firebase/firebase.json
  web/firebase/firebase.json
Labels: data, web

moved tutos to learn section
  README.md
  data/models/articles/How_To_Add_Your_Article_To_DzCode/content.md
  data/models/articles/How_To_Add_Your_Article_To_DzCode/info.json
  data/models/articles/How_To_Add_Your_Project_To_DzCode/content.md
  data/models/articles/How_To_Add_Your_Project_To_DzCode/info.json
  data/models/articles/ReadMe.md
  data/models/articles/list.json
  data/models/articles/ssr.json
  data/models/articles/top-articles.json
  data/models/documentation/About_dzcode_io/Add_Your_Article_To_dzcode_io/content.md
  data/models/documentation/About_dzcode_io/Add_Your_Article_To_dzcode_io/info.json
  data/models/documentation/About_dzcode_io/Add_Your_Project_To_dzcode_io/content.md
  data/models/documentation/About_dzcode_io/Add_Your_Project_To_dzcode_io/info.json
  data/models/documentation/About_dzcode_io/What_Is_dzcode_io_Built_With/content.md
  data/models/documentation/About_dzcode_io/What_Is_dzcode_io_Built_With/info.json
  data/models/documentation/About_dzcode_io/content.md
  data/models/documentation/About_dzcode_io/info.json
  data/models/documentation/list.json
  data/models/documentation/ssr.json
Labels: data

moved tutos to learn section
  README.md
  data/models/articles/How_To_Add_Your_Article_To_DzCode/content.md
  data/models/articles/How_To_Add_Your_Article_To_DzCode/info.json
  data/models/articles/How_To_Add_Your_Project_To_DzCode/content.md
  data/models/articles/How_To_Add_Your_Project_To_DzCode/info.json
  data/models/articles/ReadMe.md
  data/models/articles/list.json
  data/models/articles/ssr.json
  data/models/articles/top-articles.json
  data/models/documentation/About_dzcode_io/Add_Your_Article_To_dzcode_io/content.md
  data/models/documentation/About_dzcode_io/Add_Your_Article_To_dzcode_io/info.json
  data/models/documentation/About_dzcode_io/Add_Your_Project_To_dzcode_io/content.md
  data/models/documentation/About_dzcode_io/Add_Your_Project_To_dzcode_io/info.json
  data/models/documentation/About_dzcode_io/What_Is_dzcode_io_Built_With/content.md
  data/models/documentation/About_dzcode_io/What_Is_dzcode_io_Built_With/info.json
  data/models/documentation/About_dzcode_io/content.md
  data/models/documentation/About_dzcode_io/info.json
  data/models/documentation/list.json
  data/models/documentation/ssr.json
Labels: data

improved style of code tag
  web/src/apps/main/components/markdown/index.tsx
Labels: web

improved style of code tag
  web/src/apps/main/components/markdown/index.tsx
Labels: web

fixed SSR bug
  web/src/apps/main/entry/webpack.plugins.js
Labels: web

fixed SSR bug
  web/src/apps/main/entry/webpack.plugins.js
Labels: web

improved performence on local dev envirenment
  web/webpack.config.js
Labels: web

improved performence on local dev envirenment
  web/webpack.config.js
Labels: web

🚀 Added Algeria COVID-19 Tracker (Front-End) Project
  data/models/projects/Algeria_Covid19_Tracker/content.md
  data/models/projects/Algeria_Covid19_Tracker/info.json
  data/models/projects/list.json
  data/models/projects/ssr.json
Labels: data

🚀 Added Algeria COVID-19 Tracker (Front-End) Project
  data/models/projects/Algeria_Covid19_Tracker/content.md
  data/models/projects/Algeria_Covid19_Tracker/info.json
  data/models/projects/list.json
  data/models/projects/ssr.json
Labels: data

🚀 Added Algeria COVID-19 Tracker (Front-End) Project
  data/models/projects/Algeria_Covid19_Tracker/info.json
Labels: data

🚀 Added Algeria COVID-19 Tracker (Front-End) Project
  data/models/projects/Algeria_Covid19_Tracker/info.json
Labels: data

add get stargazer and count stars
  api/src/controllers/github/index.ts
  api/src/routes/api/github/index.ts
  api/src/services/github/index.ts
Labels: api

add get stargazer and count stars
  api/src/controllers/github/index.ts
  api/src/routes/api/github/index.ts
  api/src/services/github/index.ts
Labels: api

add listBranches, listCommits and listForks
  api/src/controllers/github/index.ts
  api/src/routes/api/github/index.ts
  api/src/services/github/index.ts
Labels: api

.github/labeler.yml:

# Add 'api' to any changes within 'api' folder or any subfolders
api:
  - api/**/*

  # Add 'data' to any changes within 'data' folder or any subfolders
data:
  - data/**/*

# Add 'web' to any changes within 'web' folder or any subfolders
web:
  - web/**/*

# Add 'common' to any changes within 'common' folder or any subfolders
common:
  - common/**/*
