Repository dzcode-io/dzcode.io, changes with the labels that .github/labeler.yml gives for each.
All labels: api, data, project, article, documentation, web, common

Remove "mode" from PaletteOptions
  web/src/apps/main/components/theme/palettes/dark.ts
  web/src/apps/main/components/theme/palettes/light.ts
Labels: web

Fix code markdown on darkmode
  web/src/apps/main/components/markdown/index.tsx
Labels: web

Fix code markdown on darkmode
  web/src/apps/main/components/markdown/index.tsx
Labels: web

Language switch: UI fixes, integrate redux
  web/src/apps/main/components/navbar/lang-switch/index.tsx
  web/src/apps/main/redux/index.ts
  web/src/apps/main/redux/reducers/settings/index.ts
Labels: web

Add Navbar translations
  web/package.json
  web/src/apps/main/components/navbar/index.tsx
  web/src/apps/main/entry/app.tsx
  web/src/localization/index.tsx
  web/src/localization/locals/ar.ts
  web/src/localization/locals/en.ts
  web/src/localization/locals/fr.ts
  yarn.lock
Labels: web

feat : setup basic team page
  common/src/types/index.ts
  web/src/apps/main/entry/app.tsx
  web/src/apps/main/pages/team/catalog/index.tsx
  web/src/apps/main/pages/team/index.tsx
  web/src/apps/main/redux/actions/team-page/index.ts
  web/src/apps/main/redux/index.ts
  web/src/apps/main/redux/reducers/contributors/index.ts
  web/src/apps/main/redux/reducers/index.ts
  web/src/apps/main/redux/reducers/members/index.ts
Labels: web, common

feat : a page for dzcode contributors team
  web/src/apps/main/components/card/index.tsx
  web/src/apps/main/components/dialog/index.tsx
  web/src/apps/main/pages/team/catalog/index.tsx
Labels: web

added and used the type: Language
  common/src/types/index.ts
  web/src/apps/main/redux/reducers/settings/index.ts
Labels: web, common

update direction based on language selected
  web/src/apps/main/components/theme/index.tsx
  web/src/apps/main/redux/reducers/settings/index.ts
Labels: web

- Fixed webpack config public folder property.
  web/webpack.config.js
Labels: web

- Fixed webpack config public folder property.
  web/webpack.config.js
Labels: web

change the type of the button in the card from Fc to element
  web/src/apps/main/components/card/index.tsx
Labels: web

more spacing for the list of the projects
  web/src/apps/main/components/dialog/index.tsx
  web/src/apps/main/redux/actions/team-page/index.ts
Labels: web

feat : get each project contributors first part
  api/src/controllers/contributors/index.ts
  api/src/routes/api/contributors/index.ts
Labels: api

feat : display a the team member projects contribution , i just need to fix a problem with showing the right projects for each member on the client side
  api/src/controllers/contributors/index.ts
  api/src/services/github/index.ts
  api/src/services/github/types.ts
  common/src/types/index.ts
  web/src/apps/main/components/dialog/index.tsx
  web/src/apps/main/pages/team/catalog/index.tsx
  web/src/apps/main/redux/actions/team-page/index.ts
  web/src/apps/main/redux/reducers/contributors/index.ts
Labels: api, web, common

fix : contributions not showed correctly in each dialog
  api/src/services/github/index.ts
  web/src/apps/main/components/card/index.tsx
  web/src/apps/main/components/contributors/index.tsx
  web/src/apps/main/components/dialog/index.tsx
  web/src/apps/main/pages/team/catalog/index.tsx
Labels: api, web

remove auth token
  api/src/services/github/index.ts
Labels: api

add the team link to the navbar
  web/src/apps/main/redux/reducers/navbar-component/index.ts
Labels: web

updated deployment dir in VPS after changing to oracle cloud
  api/vultr/deploy.js
Labels: api

updated deployment dir in VPS after changing to oracle cloud
  api/vultr/deploy.js
Labels: api

commentd out deletion notice
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

commentd out deletion notice
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

changed style of coding, to fail on negative condition
  web/src/apps/main/redux/actions/articles-page/index.ts
  web/src/apps/main/redux/actions/documentation-page/index.ts
Labels: web

changed style of coding, to fail on negative condition
  web/src/apps/main/redux/actions/articles-page/index.ts
  web/src/apps/main/redux/actions/documentation-page/index.ts
Labels: web

cached get[Model]Authors calls
  web/src/apps/main/pages/articles/content/index.tsx
  web/src/apps/main/redux/actions/articles-page/index.ts
  web/src/apps/main/redux/actions/documentation-page/index.ts
Labels: web

cached get[Model]Authors calls
  web/src/apps/main/pages/articles/content/index.tsx
  web/src/apps/main/redux/actions/articles-page/index.ts
  web/src/apps/main/redux/actions/documentation-page/index.ts
Labels: web

added missing authors key
  data/models/documentation/About_dzcode_io/info.json
  data/models/documentation/Git_Basics/info.json
Labels: data

added missing authors key
  data/models/documentation/About_dzcode_io/info.json
  data/models/documentation/Git_Basics/info.json
Labels: data

used Object.assign instead of mergeDeep
  web/src/common/utils/index.ts
Labels: web

used Object.assign instead of mergeDeep
  web/src/common/utils/index.ts
Labels: web

Fix: copyright date auto-update
  web/src/apps/main/components/footer/index.tsx
Labels: web

Fix: copyright date auto-update
  web/src/apps/main/components/footer/index.tsx
Labels: web

Use loader
  api/src/index.ts
  api/src/loaders/express-loader.ts
  api/src/loaders/index.ts
Labels: api

Use loader
  api/src/index.ts
  api/src/loaders/express-loader.ts
  api/src/loaders/index.ts
Labels: api

Create root controller
  api/src/controllers/etc/index.ts
  api/src/routes/api/index.ts
Labels: api

Create root controller
  api/src/controllers/etc/index.ts
  api/src/routes/api/index.ts
Labels: api

Sort modules alphabetically
  api/src/index.ts
Labels: api

Sort modules alphabetically
  api/src/index.ts
Labels: api

Delete async expression
  api/src/loaders/express-loader.ts
  api/src/loaders/index.ts
Labels: api

Delete async expression
  api/src/loaders/express-loader.ts
  api/src/loaders/index.ts
Labels: api

.github/labeler.yml:

# Add 'api' to any changes within 'api' folder or any subfolders
api:
  - api/**/*

# Add 'data' to any changes within 'data' folder or any subfolders
data:
  - data/**/*

# Add 'project' to any changes within 'data/models/projects' folder or any subfolders
project:
  - data/models/projects/**/*

# Add 'article' to any changes within 'data/models/articles' folder or any subfolders
article:
  - data/models/articles/**/*

# Add 'documentation' to any changes within 'data/models/documentations' folder or any subfolders
documentation:
  - data/models/documentations/**/*

# Add 'web' to any changes within 'web' folder or any subfolders
web:
  - web/**/*

# Add 'common' to any changes within 'common' folder or any subfolders
common:
  - common/**/*
