Repository dzcode-io/dzcode.io, changes with the labels that .github/labeler.yml gives for each.
All labels: api, data, project, article, documentation, web, common

adding project : ARAB to ENGLISH / ENGLISH to ARAB voice translator app react native
  data/models/projects/Voice_Translator_React_Native/info.json
  data/models/projects/list.json
  data/models/projects/ssr.json
Labels: data, project

adding project : ARAB to ENGLISH / ENGLISH to ARAB voice translator app react native
  data/models/projects/Voice_Translator_React_Native/info.json
  data/models/projects/list.json
  data/models/projects/ssr.json
Labels: data, project

feat : get a github user
  api/src/controllers/github/index.ts
  api/src/routes/api/github/index.ts
  api/src/services/github/index.ts
Labels: api

feat : get a github user
  api/src/controllers/github/index.ts
  api/src/routes/api/github/index.ts
  api/src/services/github/index.ts
Labels: api

add auhtors github username for info json
  data/models/articles/A_Python_Website_No_Framework_Needed/info.json
  data/models/articles/A_Python_Website_No_Framework_Needed_PART_2/info.json
  data/models/articles/Open_source/info.json
  data/models/articles/Send_Emails_With_Django_and_Gmail_A_Better_Way/info.json
  data/models/articles/Use_Conventional_Commits_To_Contribute_To_DZCode/info.json
Labels: data, article

add auhtors github username for info json
  data/models/articles/A_Python_Website_No_Framework_Needed/info.json
  data/models/articles/A_Python_Website_No_Framework_Needed_PART_2/info.json
  data/models/articles/Open_source/info.json
  data/models/articles/Send_Emails_With_Django_and_Gmail_A_Better_Way/info.json
  data/models/articles/Use_Conventional_Commits_To_Contribute_To_DZCode/info.json
Labels: data, article

refactor : change return keys for the get github user controller
  api/src/controllers/github/index.ts
Labels: api

refactor : change return keys for the get github user controller
  api/src/controllers/github/index.ts
Labels: api

feat : a component to show articles authors
  data/models/articles/Open_source/info.json
  web/src/apps/main/components/authors/index.tsx
  web/src/apps/main/pages/articles/content/index.tsx
  web/src/apps/main/redux/actions/articles-page/index.ts
Labels: data, article, web

feat : a component to show articles authors
  data/models/articles/Open_source/info.json
  web/src/apps/main/components/authors/index.tsx
  web/src/apps/main/pages/articles/content/index.tsx
  web/src/apps/main/redux/actions/articles-page/index.ts
Labels: data, article, web

fix code format
  api/src/controllers/github/index.ts
Labels: api

fix code format
  api/src/controllers/github/index.ts
Labels: api

feat : get articles authors
  common/src/types/index.ts
  web/src/apps/main/components/authors/index.tsx
  web/src/apps/main/pages/articles/content/index.tsx
  web/src/apps/main/redux/actions/articles-page/index.ts
Labels: web, common

feat : get articles authors
  common/src/types/index.ts
  web/src/apps/main/components/authors/index.tsx
  web/src/apps/main/pages/articles/content/index.tsx
  web/src/apps/main/redux/actions/articles-page/index.ts
Labels: web, common

removed social footer from content.md on all articles
  data/models/articles/A_Python_Website_No_Framework_Needed/content.md
  data/models/articles/A_Python_Website_No_Framework_Needed_PART_2/content.md
  data/models/articles/Open_source/content.md
  data/models/articles/Send_Emails_With_Django_and_Gmail_A_Better_Way/content.md
  data/models/articles/Use_Conventional_Commits_To_Contribute_To_DZCode/content.md
Labels: data, article

removed social footer from content.md on all articles
  data/models/articles/A_Python_Website_No_Framework_Needed/content.md
  data/models/articles/A_Python_Website_No_Framework_Needed_PART_2/content.md
  data/models/articles/Open_source/content.md
  data/models/articles/Send_Emails_With_Django_and_Gmail_A_Better_Way/content.md
  data/models/articles/Use_Conventional_Commits_To_Contribute_To_DZCode/content.md
Labels: data, article

added Send_Emails_With_Django_and_Gmail_A_Better_Way to top articles
  data/models/articles/top-articles.json
Labels: data, article

added Send_Emails_With_Django_and_Gmail_A_Better_Way to top articles
  data/models/articles/top-articles.json
Labels: data, article

feat: a redux action to fetch document authors details from github
  web/src/apps/main/redux/actions/documentation-page/index.ts
Labels: web

feat: a redux action to fetch document authors details from github
  web/src/apps/main/redux/actions/documentation-page/index.ts
Labels: web

add a github authors to document type
  common/src/types/index.ts
Labels: common

add a github authors to document type
  common/src/types/index.ts
Labels: common

feat: add the Authors components so we can see who is the who wrote this documentation
  web/src/apps/main/pages/learn/content/index.tsx
Labels: web

feat: add the Authors components so we can see who is the who wrote this documentation
  web/src/apps/main/pages/learn/content/index.tsx
Labels: web

feat: authors list to each documentation article
  data/models/documentation/About_dzcode_io/Add_Your_Article_To_dzcode_io/info.json
  data/models/documentation/About_dzcode_io/Add_Your_Project_To_dzcode_io/info.json
  data/models/documentation/About_dzcode_io/What_Is_dzcode_io_Built_With/info.json
  data/models/documentation/Getting_Started/info.json
  data/models/documentation/Git_Basics/Pull_Merge_Request/info.json
  data/models/documentation/Git_Basics/Syncing_An_Old_Forked_Repository_With_Upstream/info.json
  data/models/documentation/Git_Basics/What_The_Fork/info.json
Labels: data

feat: authors list to each documentation article
  data/models/documentation/About_dzcode_io/Add_Your_Article_To_dzcode_io/info.json
  data/models/documentation/About_dzcode_io/Add_Your_Project_To_dzcode_io/info.json
  data/models/documentation/About_dzcode_io/What_Is_dzcode_io_Built_With/info.json
  data/models/documentation/Getting_Started/info.json
  data/models/documentation/Git_Basics/Pull_Merge_Request/info.json
  data/models/documentation/Git_Basics/Syncing_An_Old_Forked_Repository_With_Upstream/info.json
  data/models/documentation/Git_Basics/What_The_Fork/info.json
Labels: data

feat : get the most recent state of current document in the fetch authors and contributors redux actions
  web/src/apps/main/redux/actions/documentation-page/index.ts
Labels: web

feat : get the most recent state of current document in the fetch authors and contributors redux actions
  web/src/apps/main/redux/actions/documentation-page/index.ts
Labels: web

fix : author not displayed
  web/src/apps/main/redux/actions/documentation-page/index.ts
Labels: web

fix : author not displayed
  web/src/apps/main/redux/actions/documentation-page/index.ts
Labels: web

fix : lint and code style
  data/models/documentation/About_dzcode_io/Add_Your_Article_To_dzcode_io/info.json
  data/models/documentation/About_dzcode_io/Add_Your_Project_To_dzcode_io/info.json
  data/models/documentation/About_dzcode_io/What_Is_dzcode_io_Built_With/info.json
  data/models/documentation/Getting_Started/info.json
  data/models/documentation/Git_Basics/Pull_Merge_Request/info.json
  data/models/documentation/Git_Basics/Syncing_An_Old_Forked_Repository_With_Upstream/info.json
  data/models/documentation/Git_Basics/What_The_Fork/info.json
  web/src/apps/main/pages/learn/content/index.tsx
Labels: data, web

fix : lint and code style
  data/models/documentation/About_dzcode_io/Add_Your_Article_To_dzcode_io/info.json
  data/models/documentation/About_dzcode_io/Add_Your_Project_To_dzcode_io/info.json
  data/models/documentation/About_dzcode_io/What_Is_dzcode_io_Built_With/info.json
  data/models/documentation/Getting_Started/info.json
  data/models/documentation/Git_Basics/Pull_Merge_Request/info.json
  data/models/documentation/Git_Basics/Syncing_An_Old_Forked_Repository_With_Upstream/info.json
  data/models/documentation/Git_Basics/What_The_Fork/info.json
  web/src/apps/main/pages/learn/content/index.tsx
Labels: data, web

feat : new project leblad py
  data/models/projects/Leblad_Py/info.json
  data/models/projects/list.json
  data/models/projects/ssr.json
Labels: data, project

feat : new project leblad py
  data/models/projects/Leblad_Py/info.json
  data/models/projects/list.json
  data/models/projects/ssr.json
Labels: data, project

add react-native-help-create project 🐱‍👤
  data/models/projects/React_Native_Help_Create/content.md
  data/models/projects/React_Native_Help_Create/info.js
  data/models/projects/list.json
  data/models/projects/ssr.json
Labels: data, project

add react-native-help-create project 🐱‍👤
  data/models/projects/React_Native_Help_Create/content.md
  data/models/projects/React_Native_Help_Create/info.js
  data/models/projects/list.json
  data/models/projects/ssr.json
Labels: data, project

rename info.js to info.json 🦼
  data/models/projects/React_Native_Help_Create/info.json
Labels: data, project

rename info.js to info.json 🦼
  data/models/projects/React_Native_Help_Create/info.json
Labels: data, project

Add language switch
  web/src/apps/main/components/navbar/index.tsx
  web/src/apps/main/components/navbar/lang-switch/index.tsx
Labels: web

Remove "mode" from PaletteOptions
  web/src/apps/main/components/theme/palettes/dark.ts
  web/src/apps/main/components/theme/palettes/light.ts
Labels: web

.github/labeler.yml:

# Add 'api' to any changes within 'api' folder or any subfolders
api:
  - api/**/*

# Add 'data' to any changes within 'data' folder or any subfolders
data:
  - data/**/*

# Add 'project' to any changes within 'data/models/projects' folder or any subfolders
project:
  - data/models/projects/**/*

# Add 'article' to any changes within 'data/models/articles' folder or any subfolders
article:
  - data/models/articles/**/*

# Add 'documentation' to any changes within 'data/models/documentations' folder or any subfolders
documentation:
  - data/models/documentations/**/*

# Add 'web' to any changes within 'web' folder or any subfolders
web:
  - web/**/*

# Add 'common' to any changes within 'common' folder or any subfolders
common:
  - common/**/*
