Repository dzcode-io/dzcode.io, pull requests merged in 2020-10, with the labels that each got.

#201 add react project builder infos
  data/projects/React-project-builder/info.json
  data/projects/list.json
Labels: project

#199 📚 update mock data
  frontend/src/apps/main/components/footer/index.tsx
  frontend/src/apps/main/redux/reducers/layout-reducer/index.ts
Labels: ui/ux

#208 📑 add Readme.md to projects and articles
  data/articles/Add_Your_Own_Article/content.md
  data/articles/Add_Your_Own_Article/info.json
  data/articles/How_To_Add_Your_Article_To_DzCode/content.md
  data/articles/How_To_Add_Your_Article_To_DzCode/info.json
  data/articles/How_To_Add_Your_Project_To_DzCode/content.md
  data/articles/How_To_Add_Your_Project_To_DzCode/info.json
  data/articles/ReadMe.md
  data/articles/list.json
  data/articles/ssr.json
  data/articles/top-articles.json
  data/projects/ReadMe.md
Labels: documentation

#214 177 update home page content
  data/projects/React_Project_Builder/info.json
  frontend/src/apps/main/components/card/index.tsx
  frontend/src/apps/main/components/empty-card/index.tsx
  frontend/src/apps/main/pages/faq/faq-Item/index.tsx
  frontend/src/apps/main/pages/faq/faq-Item/style.scss
  frontend/src/apps/main/pages/faq/index.tsx
  frontend/src/apps/main/pages/faq/style.scss
  frontend/src/apps/main/pages/landing/top-articles/index.tsx
  frontend/src/apps/main/pages/landing/top-projects/index.tsx
  frontend/src/apps/main/pages/projects/catalog/index.tsx
  frontend/src/apps/main/redux/reducers/layout-reducer/index.ts
  fullstack/src/types/index.ts
Labels: enhancement, ui/ux

#221 📂 project : add mishkal
  data/articles/How_To_Add_Your_Article_To_DzCode/info.json
  data/articles/How_To_Add_Your_Project_To_DzCode/info.json
  data/projects/Mishkal/info.json
  data/projects/list.json
  data/projects/ssr.json
  data/projects/top-projects.json
Labels: project

#213 * 404 error page.
  frontend/src/apps/main/entry/index.tsx
  frontend/src/apps/main/pages/not_found/index.tsx
  frontend/src/assets/svg/404.svg
Labels: Hacktoberfest

#225 AlgerianAdministrativeDivision project added to dzcode.io
  data/projects/Algerian_Administrative_Division/info.json
  data/projects/list.json
  data/projects/ssr.json
Labels: hacktoberfest-accepted, project

#226 Social media links updated in Footer
  frontend/src/apps/main/redux/reducers/layout-reducer/index.ts
Labels: hacktoberfest-accepted

#228 * article not found handeling.
  frontend/src/apps/main/entry/index.tsx
  frontend/src/apps/main/redux/actions/articles-page/index.ts
  frontend/src/common/utils/history.ts
Labels: hacktoberfest-accepted

#231 api code base
  .gitignore
  api/.eslintignore
  api/.eslintrc.js
  api/.firebaserc
  api/.gitignore
  api/.prettierrc
  api/firebase.json
  api/functions/.eslintignore
  api/functions/.gitignore
  api/functions/.prettierignore
  api/functions/package.json
  api/functions/src/email/index.ts
  api/functions/src/email/validation/messageValidation.ts
  api/functions/src/email/validation/validation.ts
  api/functions/src/index.ts
  api/functions/src/message/index.ts
  api/functions/src/utils/admin.ts
  api/functions/tsconfig.json
  api/package.json
  api/src/config/index.ts
  api/src/controllers/helloWorld.ts
  api/src/index.ts
  api/src/routes/api/helloWorld/index.ts
  api/src/routes/api/index.ts
  api/src/routes/index.ts
  api/tsconfig.json
  api/yarn.lock
  data/.gitignore
  fullstack/src/config/index.ts
  yarn.lock
Labels: api
