Repository dzcode-io/dzcode.io, pull requests merged in 2020-09, with the labels that each got.

#142 97 landing revamping
  api/functions/.eslintignore
  api/functions/.prettierignore
  api/functions/.prettierrc
  api/functions/package.json
  frontend/src/apps/main/scenes/landing/header/index.tsx
  frontend/src/apps/main/scenes/landing/header/style.scss
  frontend/src/apps/main/scenes/landing/how-to-contribute/index.tsx
  frontend/src/apps/main/scenes/landing/how-to-contribute/style.scss
  frontend/src/apps/main/scenes/landing/index.tsx
  frontend/src/apps/main/scenes/landing/top-articles/index.tsx
  frontend/src/apps/main/scenes/landing/top-articles/style.scss
  frontend/src/apps/main/scenes/landing/top-projects/index.tsx
  frontend/src/apps/main/scenes/landing/top-projects/style.scss
  frontend/src/apps/main/scenes/landing/what-and-why/index.tsx
  frontend/src/apps/main/scenes/landing/what-and-why/style.scss
  frontend/src/apps/main/scenes/projects/catalog/index.tsx
  yarn.lock
Labels: enhancement

#144 143 fix footer positioning
  frontend/src/apps/main/components/footer/index.tsx
  frontend/src/apps/main/entry/index.tsx
Labels: bug

#168 98 contact us page revamping
  frontend/src/apps/main/pages/contact/form/index.tsx
  frontend/src/apps/main/pages/contact/form/style.scss
  frontend/src/apps/main/pages/contact/form/validation/validate-form.ts
  frontend/src/apps/main/pages/contact/index.tsx
  frontend/src/apps/main/pages/contact/style.scss
Labels: enhancement, ui/ux

#189 Add new article: "Open source"
  .gitignore
  data/articles/Open_source/content.md
  data/articles/Open_source/info.json
  data/articles/list.json
  data/articles/ssr.json
Labels: enhancement

#191 📃 added docs for Syncing An Old Forked Repository
  data/documentation/Git_Basics/Syncing_An_Old_Forked_Repository_With_Upstream/content.md
  data/documentation/Git_Basics/Syncing_An_Old_Forked_Repository_With_Upstream/info.json
  data/documentation/list.json
  data/documentation/ssr.json
Labels: documentation
