Repository dzcode-io/dzcode.io, pull requests merged in 2021-08, with the labels that each got.

#341 removed redundant pre-commit script for mobile
  package.json
Labels: bug

#344 Chore: add runtime prop-types checking
  web/.babelrc.js
  web/.eslintrc.js
  web/package.json
  web/src/apps/main/components/authors/index.tsx
  web/src/apps/main/components/card/index.tsx
  web/src/apps/main/components/contributors/index.tsx
  web/src/apps/main/components/speed-dial/index.tsx
  web/src/apps/main/components/theme/index.tsx
  web/src/apps/main/entry/index.tsx
  web/src/apps/main/pages/articles/landing/index.tsx
  web/src/apps/main/pages/learn/landing/index.tsx
  web/src/apps/main/pages/projects/catalog/index.tsx
  yarn.lock
Labels: web

#346 Fix: updated stage api endpoint to fix ssl issue
  README.md
  api/package.json
  common/src/config/index.ts
  data/package.json
  mobile/package.json
  web/package.json
Labels: data, web, common, api, mobile

#342 Feature: Implementing contribute screen on mobile app
  mobile/.eslintrc.js
  mobile/__tests__/contribute-test.tsx
  mobile/src/api/endpoints/index.ts
  mobile/src/api/interfaces/contributions-response.ts
  mobile/src/api/interfaces/index.ts
  mobile/src/api/requests/get-contributions.ts
  mobile/src/api/requests/index.ts
  mobile/src/components/shared/card-item.tsx
  mobile/src/components/shared/card.tsx
  mobile/src/components/shared/dzcode-loading.tsx
  mobile/src/components/shared/index.ts
  mobile/src/screens/contribute/functions/index.ts
  mobile/src/screens/contribute/ui/contribute-ui.tsx
  mobile/src/styles/card-styles.ts
  mobile/src/styles/colors.ts
  mobile/src/styles/dzcode-loading-styles.ts
  mobile/src/styles/index.ts
  mobile/src/utils/functions/calculate-date.ts
  mobile/src/utils/functions/index.ts
Labels: ui/ux, mobile

#347 Chore: auto validate prop-types using TS
  mobile/.eslintrc.js
  mobile/babel.config.js
  mobile/package.json
  mobile/src/components/shared/app-bar.tsx
  mobile/src/screens/navigation.tsx
  yarn.lock
Labels: mobile

#352 Feature: Setup Sentry for error logging on web
  web/package.json
  web/src/apps/main/entry/index.tsx
  yarn.lock
Labels: web

#354 Feature: Setup Sentry for error logging on api
  api/package.json
  api/src/app/index.ts
  yarn.lock
Labels: api

#353 Feature: Setup Sentry for error logging on mobile
  mobile/App.tsx
  mobile/app.json
  mobile/babel.config.js
  mobile/package.json
  yarn.lock
Labels: mobile

#356 FIX: don't hoist web folder
  package.json
  yarn.lock
Labels: bug

#357 Chore: properly setup Sentry environment
  api/src/app/index.ts
  mobile/App.tsx
  web/src/apps/main/entry/index.tsx
Labels: web, api, mobile

#355 Feature: Refining Contribution Gallery on Mobile
  common/src/utils/calculate-date.ts
  mobile/src/components/contribute/card-item.tsx
  mobile/src/components/contribute/index.ts
  mobile/src/components/shared/index.ts
  mobile/src/screens/contribute/ui/contribute-ui.tsx
  mobile/src/styles/contribute-styles.ts
  mobile/src/styles/index.ts
  mobile/src/utils/functions/index.ts
Labels: ui/ux, common, mobile

#361 Using Redux on mobile (React Native)
  mobile/App.tsx
  mobile/package.json
  mobile/src/components/shared/app-bar.tsx
  mobile/src/redux/actions/contribute-page/index.ts
  mobile/src/redux/actions/general/index.ts
  mobile/src/redux/actions/index.ts
  mobile/src/redux/constants/index.ts
  mobile/src/redux/index.ts
  mobile/src/redux/reducers/contribute-page/index.ts
  mobile/src/redux/reducers/general/index.ts
  mobile/src/redux/reducers/index.ts
  mobile/src/redux/store/index.ts
  mobile/src/screens/contribute/ui/contribute-ui.tsx
  mobile/src/utils/constants.ts
  yarn.lock
Labels: mobile
