Repository dzcode-io/dzcode.io, pull requests merged in 2021-11, with the labels that each got.

#275 Feature: Adding Support for Localization in `./web`
  common/src/config/languages.ts
  common/src/types/endpoints.ts
  common/src/utils/data.ts
  data/models/articles/A_Friendly_Tool_For_React_Native_Projects/info.json
  data/models/articles/A_Python_Website_No_Framework_Needed/info.json
  data/models/articles/A_Python_Website_No_Framework_Needed_PART_2/info.json
  data/models/articles/Open_source/info.json
  data/models/articles/Send_Emails_With_Django_and_Gmail_A_Better_Way/info.json
  data/models/articles/Use_Conventional_Commits_To_Contribute_To_DZCode/info.json
  data/models/documentation/About_dzcode_io/Add_Your_Article_To_dzcode_io/info.json
  data/models/documentation/About_dzcode_io/Add_Your_Project_To_dzcode_io/info.json
  data/models/documentation/About_dzcode_io/info.json
  data/models/documentation/Getting_Started/info.json
  data/models/documentation/Git_Basics/Pull_Merge_Request/info.json
  data/models/documentation/Git_Basics/Syncing_An_Old_Forked_Repository_With_Upstream/info.json
  data/models/documentation/Git_Basics/What_The_Fork/info.json
  data/models/documentation/Git_Basics/info.json
  data/src/index.ts
  mobile/src/redux/actions/articles-screen/index.ts
  mobile/src/redux/actions/learn-screen/index.ts
  web/.eslintignore
  web/package.json
  web/src/apps/main/components/navbar/index.tsx
  web/src/apps/main/components/navbar/lang-switch/index.tsx
  web/src/apps/main/components/sidebar/index.tsx
  web/src/apps/main/components/theme/index.tsx
  web/src/apps/main/entry/app.tsx
  web/src/apps/main/pages/articles/index.tsx
  web/src/apps/main/pages/faq/index.int.spec.tsx
  web/src/apps/main/pages/faq/index.tsx
  web/src/apps/main/pages/learn/index.tsx
  web/src/apps/main/redux/actions/articles-page/index.ts
  web/src/apps/main/redux/actions/documentation-page/index.ts
  web/src/apps/main/redux/reducers/navbar-component/index.ts
  web/src/apps/main/redux/reducers/settings/index.ts
  web/src/common/utils/fetch/index.ts
  web/src/localization/extractions/extracted.json
  web/src/localization/index.tsx
  web/src/localization/locals/ar.json
  web/src/localization/locals/en.json
  web/src/localization/locals/fr.json
  web/src/localization/locals/whitelist_ar.json
  web/src/localization/locals/whitelist_en.json
  web/src/localization/locals/whitelist_fr.json
  web/src/localization/utils/formatter.js
  web/src/localization/utils/runner.ts
  web/tsconfig.json
  yarn.lock
Labels: article, data, web, common, mobile

#418 Chore: dependency & versioning updates and labels fixes
  .github/labeler.yml
  .github/release.yml
  api/package.json
  common/package.json
  data/package.json
  mobile/app.json
  mobile/package.json
  package.json
  web/package.json
  yarn.lock
Labels: data, web, common, api, mobile

#419 Chore: root `lint-staged`
  mobile/src/entry/index.test.tsx
  package.json
Labels: mobile

#420 Feat/pages translation
  web/src/apps/main/components/footer/footer.spec.tsx
  web/src/apps/main/components/footer/index.tsx
  web/src/apps/main/pages/faq/__snapshots__/index.int.spec.tsx.snap
  web/src/apps/main/pages/faq/index.tsx
  web/src/apps/main/pages/landing/header/__snapshots__/header.spec.tsx.snap
  web/src/apps/main/pages/landing/header/header.spec.tsx
  web/src/apps/main/pages/landing/header/index.tsx
  web/src/apps/main/pages/landing/index.tsx
  web/src/apps/main/pages/landing/mobile/index.tsx
  web/src/apps/main/pages/landing/top-articles/index.tsx
  web/src/apps/main/pages/landing/top-projects/index.tsx
  web/src/apps/main/redux/reducers/footer-component/index.ts
  web/src/apps/main/redux/reducers/footer-component/sections.ts
  web/src/localization/extractions/extracted.json
  web/src/localization/locals/ar.json
  web/src/localization/locals/en.json
  web/src/localization/locals/fr.json
Labels: web

#421 Feat/pages translation
  web/package.json
  web/src/apps/main/pages/articles/landing/index.tsx
  web/src/apps/main/pages/faq/index.tsx
  web/src/apps/main/pages/landing/header/__snapshots__/header.spec.tsx.snap
  web/src/apps/main/pages/landing/header/index.tsx
  web/src/apps/main/pages/learn/landing/index.tsx
  web/src/apps/main/pages/projects/catalog/index.tsx
  web/src/apps/main/pages/team/catalog/index.tsx
  web/src/localization/extractions/extracted.json
  web/src/localization/index.tsx
  web/src/localization/locals/ar.json
  web/src/localization/locals/ar.ts
  web/src/localization/locals/en.ts
  web/src/localization/locals/fr.ts
  web/src/localization/locals/whitelist_ar.json
  web/src/localization/locals/whitelist_en.json
  web/src/localization/locals/whitelist_fr.json
  web/src/localization/utils/formatter.js
  web/src/localization/utils/runner.ts
  yarn.lock
Labels: web
