Repository dzcode-io/dzcode.io, pull requests merged in 2021-07, with the labels that each got.

#321 Fixes: July monthly fixes
  api/src/fetch/service.ts
  data/models/articles/ssr.json
  data/models/documentation/About_dzcode_io/Add_Your_Article_To_dzcode_io/content.md
  data/models/documentation/About_dzcode_io/Add_Your_Project_To_dzcode_io/content.md
  data/models/documentation/About_dzcode_io/What_Is_dzcode_io_Built_With/content.md
  data/models/documentation/About_dzcode_io/What_Is_dzcode_io_Built_With/info.json
  data/models/documentation/About_dzcode_io/content.md
  data/models/documentation/Git_Basics/Pull_Merge_Request/content.md
  data/models/documentation/Git_Basics/Pull_Merge_Request/info.json
  data/models/documentation/Git_Basics/What_The_Fork/content.md
  data/models/documentation/Git_Basics/What_The_Fork/info.json
  data/models/documentation/Git_Basics/content.md
  data/models/documentation/Git_Basics/info.json
  data/models/documentation/list.json
  data/models/documentation/ssr.json
  data/models/projects-v2/Dzair_Data_Usage/info.json
  data/models/projects/Dzair_Data_Usage/info.json
  data/models/projects/ReadMe.md
  data/models/projects/list.json
  data/models/projects/ssr.json
  data/src/config/index.ts
  web/src/apps/main/components/speed-dial/index.tsx
  web/src/apps/main/pages/articles/content/index.tsx
  web/src/apps/main/pages/learn/content/index.tsx
  web/src/apps/main/redux/actions/articles-page/index.ts
  web/src/apps/main/redux/actions/contribute-page/index.ts
  web/src/apps/main/redux/actions/documentation-page/index.ts
  yarn.lock
Labels: api, article, data, project, web

#327 Feature: prepare mobile builds
  .github/workflows/coverage-report.yml
  mobile/app.json
  mobile/eas.json
  mobile/package.json
  mobile/src/assets/images/adaptive-icon.png
  mobile/src/assets/images/favicon.png
  mobile/src/assets/images/icon.png
  mobile/src/assets/images/splash.png
  package.json
Labels: mobile

#326 added ASJ project
  data/models/projects-v2/Algeria_Startup_Jobs/info.json
Labels: data

#328 Feature: mobile material design
  mobile/App.tsx
  mobile/__tests__/Articles-test.tsx
  mobile/__tests__/Contribute-test.tsx
  mobile/__tests__/FAQ-test.tsx
  mobile/__tests__/Home-test.tsx
  mobile/__tests__/Learn-test.tsx
  mobile/__tests__/Projects-test.tsx
  mobile/babel.config.js
  mobile/package.json
  mobile/src/assets/images/png/branching.png
  mobile/src/assets/images/png/contact.png
  mobile/src/assets/images/png/github.png
  mobile/src/assets/images/png/info.png
  mobile/src/assets/images/png/logo.png
  mobile/src/assets/images/png/programmer.png
  mobile/src/assets/images/png/support.png
  mobile/src/components/Shared/AppBar.tsx
  mobile/src/components/Shared/DrawerContent.tsx
  mobile/src/components/Shared/index.ts
  mobile/src/screens/Articles/ui/ArticlesUI.tsx
  mobile/src/screens/Contribute/ui/ContributeUI.tsx
  mobile/src/screens/FAQ/ui/FAQUI.tsx
  mobile/src/screens/Home/ui/HomeUI.tsx
  mobile/src/screens/Learn/ui/LearnUI.tsx
  mobile/src/screens/Navigation.tsx
  mobile/src/screens/Projects/ui/ProjectsUI.tsx
  mobile/src/styles/Colors.ts
  mobile/src/styles/DrawerStyles.ts
  mobile/src/styles/GlobalStyles.ts
  mobile/src/styles/index.ts
  mobile/src/utils/constants.ts
  mobile/yarn.lock
Labels: mobile, ui/ux

#322 Fix: disabled CORS on dev environment
  api/src/app/middlewares/security.ts
Labels: api

#330 Feature: deploy mobile to stage
  .github/workflows/check-api.yml
  .github/workflows/check-common.yml
  .github/workflows/check-data.yml
  .github/workflows/check-mobile.yml
  .github/workflows/check-web.yml
  .github/workflows/coverage-report.yml
  .github/workflows/deploy-to-production.yml
  .github/workflows/deploy-to-stage.yml
  mobile/App.tsx
  mobile/src/components/shared/drawer-content.tsx
  mobile/src/screens/articles/ui/articles-ui.tsx
  mobile/src/screens/contribute/ui/contribute-ui.tsx
  mobile/src/screens/faq/ui/faq-ui.tsx
  mobile/src/screens/home/ui/home-ui.tsx
  mobile/src/screens/learn/ui/learn-ui.tsx
  mobile/src/screens/projects/ui/projects-ui.tsx
  mobile/src/styles/colors.ts
  mobile/src/styles/global-styles.ts
Labels: mobile

#331 Bugfix: skipped postinstall script when deploying api
  api/oracle-cloud/Dockerfile
Labels: api

#332 Bugfix: adding "mobile" folder to yarn workspaces
  .github/workflows/check-api.yml
  .github/workflows/check-common.yml
  .github/workflows/check-data.yml
  .github/workflows/check-mobile.yml
  .github/workflows/check-web.yml
  .github/workflows/coverage-report.yml
  .github/workflows/deploy-to-production.yml
  .github/workflows/deploy-to-stage.yml
  README.md
  api/oracle-cloud/Dockerfile
  api/package.json
  common/package.json
  data/package.json
  mobile/package.json
  mobile/yarn.lock
  package.json
  web/package.json
  web/src/apps/main/entry/index.pug
  web/src/apps/main/pages/faq/__snapshots__/index.int.spec.tsx.snap
  yarn.lock
Labels: api, common, data, mobile, web

#333 Feature: update square logo & added 'stage' release channel for mobile
  .github/workflows/deploy-to-stage.yml
  README.md
  mobile/app.json
  mobile/package.json
  mobile/src/assets/images/adaptive-icon.png
  mobile/src/assets/images/favicon.png
  mobile/src/assets/images/icon.png
  mobile/src/assets/images/splash.png
Labels: mobile

#334 Add two projects
  data/models/projects-v2/Moadaly/info.json
  data/models/projects-v2/STRM_Test/info.json
Labels: data

#335 mobile app marketing and logo rebranding
  README.md
  common/src/config/index.ts
  web/src/apps/main/assets/png/android-dark.png
  web/src/apps/main/assets/png/android-light.png
  web/src/apps/main/assets/png/ios-dark.png
  web/src/apps/main/assets/png/ios-light.png
  web/src/apps/main/assets/png/logo.png
  web/src/apps/main/components/footer/__snapshots__/footer.spec.tsx.snap
  web/src/apps/main/components/footer/index.tsx
  web/src/apps/main/components/navbar/index.tsx
  web/src/apps/main/pages/landing/index.tsx
  web/src/apps/main/pages/landing/mobile/index.tsx
  web/src/apps/main/redux/reducers/footer-component/sections.ts
  web/src/assets/ico/logo-square.ico
Labels: common, web
