Repository dzcode-io/dzcode.io, pull requests merged in 2021-04, with the labels that each got.

#281 Create root controller
  api/src/controllers/etc/index.ts
  api/src/routes/api/index.ts
Labels: api

#282 Use loader
  api/src/index.ts
  api/src/loaders/express-loader.ts
  api/src/loaders/index.ts
Labels: api

#283 Enhancement: Refactoring API folder code
  .gitignore
  README.md
  api/.eslintignore
  api/.gitignore
  api/.prettierignore
  api/README.md
  api/jest.config.js
  api/nodemon.json
  api/oracle-cloud/Dockerfile
  api/oracle-cloud/deploy.js
  api/oracle-cloud/docker-compose.yml
  api/package.json
  api/src/app/controllers/contributors/index.ts
  api/src/app/controllers/etc/index.ts
  api/src/app/controllers/github/index.ts
  api/src/app/index.ts
  api/src/app/loaders/index.ts
  api/src/app/loaders/parser.ts
  api/src/app/middlewares/docs.ts
  api/src/app/middlewares/error.ts
  api/src/app/middlewares/logger.ts
  api/src/app/middlewares/security.ts
  api/src/app/routes/api/contributors/index.ts
  api/src/app/routes/api/github/index.ts
  api/src/app/routes/api/index.ts
  api/src/app/routes/index.ts
  api/src/app/services/github/index.ts
  api/src/app/types/index.ts
  api/src/config/dto.ts
  api/src/config/index.spec.ts
  api/src/config/index.ts
  api/src/config/service.spec.ts
  api/src/config/service.ts
  api/src/contributor/controller.spec.ts
  api/src/contributor/controller.ts
  api/src/contributor/types.ts
  api/src/github/dto.ts
  api/src/github/service.spec.ts
  api/src/github/service.ts
  api/src/github/types.ts
  api/src/index.ts
  api/src/loaders/express-loader.ts
  api/src/loaders/index.ts
  api/src/logger/service.ts
  api/test/mocks.ts
  api/tsconfig.json
  package.json
  yarn.lock
Labels: api

#289 Migrate the old '/Contributors' endpoint to v2
  api/src/app/controllers/contributors/index.ts
  api/src/app/routes/api/contributors/index.ts
  api/src/app/routes/api/index.ts
  web/src/apps/main/redux/actions/articles-page/index.ts
  web/src/apps/main/redux/actions/documentation-page/index.ts
Labels: api, web

#288 Fix: load env variable from env file
  api/oracle-cloud/docker-compose.yml
Labels: api

#290 migrate new GitHub users API
  api/src/app/controllers/github/index.ts
  api/src/app/index.ts
  api/src/app/routes/api/github/index.ts
  api/src/app/services/github/index.ts
  api/src/github-user/controller.ts
  api/src/github-user/types.ts
  api/src/github/dto.ts
  api/src/github/service.ts
  api/src/github/types.ts
  api/test/mocks.ts
  common/src/types/index.ts
  web/src/apps/main/redux/actions/articles-page/index.ts
  web/src/apps/main/redux/actions/documentation-page/index.ts
Labels: api, common, web

#293 Refactored api response to common folder
  api/src/app/index.ts
  api/src/app/middlewares/error.ts
  api/src/app/middlewares/security.ts
  api/src/app/types/index.ts
  api/src/config/dto.ts
  api/src/config/service.spec.ts
  api/src/contributor/controller.spec.ts
  api/src/contributor/controller.ts
  api/src/contributor/types.ts
  api/src/github-user/controller.ts
  api/src/github-user/types.ts
  api/src/github/dto.ts
  api/src/github/service.ts
  common/package.json
  common/src/types/api-responses.ts
  web/package.json
  web/src/apps/main/redux/actions/articles-page/index.ts
  web/src/apps/main/redux/actions/documentation-page/index.ts
Labels: api, common, web

#297 Added first unit and integration tests
  web/.prettierignore
  web/jest.config.js
  web/package.json
  web/src/apps/main/components/footer/__snapshots__/footer.spec.tsx.snap
  web/src/apps/main/components/footer/footer.spec.tsx
  web/src/apps/main/components/footer/index.tsx
  web/src/apps/main/pages/faq/__snapshots__/index.int.spec.tsx.snap
  web/src/apps/main/pages/faq/index.int.spec.tsx
  web/src/apps/main/pages/faq/index.tsx
  web/tsconfig.json
  yarn.lock
Labels: web

#300 removed duplicate imports
  web/src/apps/main/redux/index.ts
Labels: web
