Repository dzcode-io/dzcode.io, pull requests merged in 2021-05, with the labels that each got.

#301 Periodic Code refactoring
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/deploy-api.yml
  .github/workflows/deploy-data.yml
  .github/workflows/deploy-stg-api.yml
  .github/workflows/deploy-stg-data.yml
  .github/workflows/deploy-stg-web.yml
  .github/workflows/deploy-to-production.yml
  .github/workflows/deploy-to-stage.yml
  .github/workflows/deploy-web.yml
  .gitignore
  api/oracle-cloud/Dockerfile
  api/package.json
  api/src/app/controllers/github/index.ts
  api/src/app/services/github/index.ts
  package.json
  web/package.json
  web/src/apps/main/components/card/index.tsx
  web/src/apps/main/components/footer/__snapshots__/footer.spec.tsx.snap
  web/src/apps/main/components/navbar/index.tsx
  web/src/apps/main/components/sidebar/index.tsx
  web/src/apps/main/pages/faq/__snapshots__/index.int.spec.tsx.snap
  web/src/apps/main/pages/learn/content/style.scss
  web/webpack.config.js
  yarn.lock
Labels: api, web

#303 Add new project 'Melyon Theme' to Dzcode.io
  data/models/projects/Melyon_Theme/content.md
  data/models/projects/Melyon_Theme/info.json
  data/models/projects/list.json
  data/models/projects/ssr.json
Labels: data, project

#304 changed Skeleton variant from circle to rect
  web/src/apps/main/components/card/index.tsx
Labels: web

#311 build common before running api server
  api/nodemon.json
  package.json
  yarn.lock
Labels: api
