Repository dzcode-io/dzcode.io, pull requests merged in 2021-09, with the labels that each got.

#368 Chore: Refactoring and cleaning up more of the mobile code
  mobile/App.tsx
  mobile/__tests__/faq-test.tsx
  mobile/__tests__/home-test.tsx
  mobile/__tests__/learn-test.tsx
  mobile/__tests__/projects-test.tsx
  mobile/src/components/app-bar/styles.ts
  mobile/src/components/loading/index.tsx
  mobile/src/entry/index.tsx
  mobile/src/redux/actions/articles-screen/index.ts
  mobile/src/redux/actions/contribute-screen/index.ts
  mobile/src/redux/index.ts
  mobile/src/redux/reducers/articles-screen/index.ts
  mobile/src/redux/reducers/contribute-screen/index.ts
  mobile/src/redux/reducers/index.ts
  mobile/src/screens/articles/article-details/index.tsx
  mobile/src/screens/articles/article-details/styles.ts
  mobile/src/screens/articles/articles-list/index.tsx
  mobile/src/screens/articles/articles-list/styles.ts
  mobile/src/screens/articles/navigation.tsx
  mobile/src/screens/contribute/card-item/index.tsx
  mobile/src/screens/contribute/card-item/styles.ts
  mobile/src/screens/contribute/index.tsx
  mobile/src/screens/faq/index.tsx
  mobile/src/screens/faq/styles.ts
  mobile/src/screens/home/index.tsx
  mobile/src/screens/home/styles.ts
  mobile/src/screens/learn/index.tsx
  mobile/src/screens/learn/styles.ts
  mobile/src/screens/navigation.tsx
  mobile/src/screens/projects/index.tsx
  mobile/src/screens/projects/styles.ts
  mobile/src/styles/colors.ts
  mobile/src/styles/global.ts
  mobile/src/styles/index.ts
  mobile/src/utils/functions/index.ts
Labels: mobile

#369 Bugfix: System Theme detection not working properly
  mobile/app.json
  mobile/src/redux/actions/general/index.ts
Labels: mobile

#363 Chore: Refactor team endpoint
  api/src/github/service.ts
  api/src/team/controller.ts
  api/src/team/repository.ts
  common/src/types/api-responses.ts
  common/src/types/index.ts
Labels: common, api

#359 Feature: DzCode i/o Team
  api/src/app/index.ts
  api/src/github/service.ts
  api/src/team/controller.ts
  api/src/team/repository.ts
  common/src/types/api-responses.ts
  common/src/types/index.ts
  web/src/apps/main/components/card/index.tsx
  web/src/apps/main/components/contributors/index.tsx
  web/src/apps/main/components/dialog/index.tsx
  web/src/apps/main/entry/app.tsx
  web/src/apps/main/pages/team/catalog/index.tsx
  web/src/apps/main/pages/team/index.tsx
  web/src/apps/main/redux/actions/team-page/index.ts
  web/src/apps/main/redux/index.ts
  web/src/apps/main/redux/reducers/index.ts
  web/src/apps/main/redux/reducers/team-page/index.tsx
Labels: web, common, api

#371 Chore: mobile code cleanup 3
  mobile/.eslintignore
  mobile/.gitignore
  mobile/.prettierignore
  mobile/package.json
  mobile/src/config/index.ts
  mobile/src/redux/actions/articles-screen/index.ts
  mobile/src/redux/actions/contribute-screen/index.ts
  mobile/src/redux/reducers/articles-screen/index.ts
  mobile/src/redux/reducers/contribute-screen/index.ts
  mobile/src/screens/articles/article-details/index.tsx
  mobile/src/screens/contribute/card-item/index.tsx
  mobile/src/utils/fetch/endpoints.ts
  mobile/src/utils/fetch/index.ts
Labels: mobile

#370 Chore: `/Team` code refactoring
  api/src/github/service.ts
  api/src/github/types.ts
  api/src/team/controller.ts
  api/src/team/repository.ts
  web/src/apps/main/components/card/index.tsx
  web/src/apps/main/components/contributor-card/index.tsx
  web/src/apps/main/components/contributors/index.tsx
  web/src/apps/main/components/navbar/index.tsx
  web/src/apps/main/pages/team/catalog/index.tsx
  web/src/apps/main/pages/team/index.tsx
  web/src/apps/main/redux/actions/projects-page/index.ts
  web/src/apps/main/redux/actions/team-page/index.ts
  web/src/apps/main/redux/reducers/index.ts
  web/src/apps/main/redux/reducers/navbar-component/index.ts
  web/src/apps/main/redux/reducers/team-page/index.tsx
Labels: web, api

#374 Fix: tsc compilation bug on Windows for `./api` & `./data`
  api/nodemon.json
  data/nodemon.json
Labels: data, api

#376 Feature: Adding Frequently Asked Questions screen on mobile app
  common/src/web/faq-data.ts
  common/src/web/index.ts
  mobile/__tests__/faq-test.tsx
  mobile/src/redux/reducers/faq-screen/faq.ts
  mobile/src/redux/reducers/faq-screen/index.ts
  mobile/src/redux/reducers/index.ts
  mobile/src/screens/articles/article-details/index.tsx
  mobile/src/screens/faq/index.tsx
  mobile/src/screens/faq/styles.ts
  mobile/src/utils/link/index.ts
Labels: common, mobile
