Repository dzcode-io/dzcode.io, pull requests merged in 2021-06, with the labels that each got.

#312 Feature: Contribution Gallery implementation
  .github/workflows/deploy-to-production.yml
  .github/workflows/deploy-to-stage.yml
  api/.gitignore
  api/oracle-cloud/deploy.js
  api/oracle-cloud/docker-compose.yml
  api/package.json
  api/src/app/index.ts
  api/src/config/dto.ts
  api/src/contribution/controller.ts
  api/src/contribution/mock.ts
  api/src/contribution/repository.ts
  api/src/fetch/service.ts
  api/src/github/service.spec.ts
  api/src/github/service.ts
  api/src/github/types.ts
  common/package.json
  common/src/types/api-responses.ts
  common/src/types/index.ts
  common/src/utils/data.ts
  data/models/documentation/About_dzcode_io/Add_Your_Project_To_dzcode_io/content.md
  data/models/projects-v2/Algeria_Covid19_Tracker/info.json
  data/models/projects-v2/Algerian_Administrative_Division/info.json
  data/models/projects-v2/Flutter_Reaction_Button/info.json
  data/models/projects-v2/Kuliya/info.json
  data/models/projects-v2/Leblad/info.json
  data/models/projects-v2/List_to_Tree_aka_l2t/info.json
  data/models/projects-v2/Melyon_Theme/info.json
  data/models/projects-v2/Mishkal/info.json
  data/models/projects-v2/Python_Complex/info.json
  data/models/projects-v2/React_Native_Currency_Converter/info.json
  data/models/projects-v2/React_Native_Help_Create/info.json
  data/models/projects-v2/React_Project_Builder/info.json
  data/models/projects-v2/Voice_Translator_React_Native/info.json
  data/models/projects-v2/dzcode.io_website/info.json
  data/models/projects-v2/list.json
  data/nodemon.json
  web/src/apps/main/entry/app.tsx
  web/src/apps/main/entry/webpack.plugins.js
  web/src/apps/main/pages/contribute/contributions/index.tsx
  web/src/apps/main/pages/contribute/filters/index.tsx
  web/src/apps/main/pages/contribute/index.tsx
  web/src/apps/main/redux/actions/contribute-page/index.ts
  web/src/apps/main/redux/index.ts
  web/src/apps/main/redux/reducers/contribute-page/index.ts
  web/src/apps/main/redux/reducers/index.ts
  web/src/apps/main/redux/reducers/navbar-component/index.ts
  web/src/build/sitemap.js
  web/src/common/utils/elapsed-time.ts
  yarn.lock
Labels: api, common, data, web

#310 added AiPalettes
  data/models/projects/AiPalettes/info.json
  data/models/projects/list.json
Labels: data, project

#309 changed "master" keyword to "main" everywhere in the repo
  .github/CONTRIBUTING.md
  README.md
  data/models/projects/ReadMe.md
Labels: data, project

#317 request to add a dart package
  data/models/projects-v2/Dzair_Data_Usage/info.json
Labels: data
