Repository dzcode-io/dzcode.io, pull requests merged in 2021-02, with the labels that each got.

#260 Feat/get author
  api/src/controllers/github/index.ts
  api/src/routes/api/github/index.ts
  api/src/services/github/index.ts
  common/src/types/index.ts
  data/models/articles/A_Python_Website_No_Framework_Needed/info.json
  data/models/articles/A_Python_Website_No_Framework_Needed_PART_2/info.json
  data/models/articles/Open_source/info.json
  data/models/articles/Send_Emails_With_Django_and_Gmail_A_Better_Way/info.json
  data/models/articles/Use_Conventional_Commits_To_Contribute_To_DZCode/info.json
  web/src/apps/main/components/authors/index.tsx
  web/src/apps/main/pages/articles/content/index.tsx
  web/src/apps/main/redux/actions/articles-page/index.ts
Labels: api, article, common, data, web

#263 removed social footer from content
  data/models/articles/A_Python_Website_No_Framework_Needed/content.md
  data/models/articles/A_Python_Website_No_Framework_Needed_PART_2/content.md
  data/models/articles/Open_source/content.md
  data/models/articles/Send_Emails_With_Django_and_Gmail_A_Better_Way/content.md
  data/models/articles/Use_Conventional_Commits_To_Contribute_To_DZCode/content.md
  data/models/articles/top-articles.json
Labels: article, data

#264 Feat/doc authors
  common/src/types/index.ts
  data/models/documentation/About_dzcode_io/Add_Your_Article_To_dzcode_io/info.json
  data/models/documentation/About_dzcode_io/Add_Your_Project_To_dzcode_io/info.json
  data/models/documentation/About_dzcode_io/What_Is_dzcode_io_Built_With/info.json
  data/models/documentation/Getting_Started/info.json
  data/models/documentation/Git_Basics/Pull_Merge_Request/info.json
  data/models/documentation/Git_Basics/Syncing_An_Old_Forked_Repository_With_Upstream/info.json
  data/models/documentation/Git_Basics/What_The_Fork/info.json
  web/src/apps/main/pages/learn/content/index.tsx
  web/src/apps/main/redux/actions/documentation-page/index.ts
Labels: common, data, web

#265 Feat/new project leblad py
  data/models/projects/Leblad_Py/info.json
  data/models/projects/list.json
  data/models/projects/ssr.json
Labels: data, project

#266 add react-native-help-create project 🐱‍👤
  data/models/projects/React_Native_Help_Create/content.md
  data/models/projects/React_Native_Help_Create/info.json
  data/models/projects/list.json
  data/models/projects/ssr.json
Labels: data, project

#268 Remove "mode" from PaletteOptions
  web/src/apps/main/components/markdown/index.tsx
  web/src/apps/main/components/theme/palettes/dark.ts
  web/src/apps/main/components/theme/palettes/light.ts
Labels: web

#269 First Localization implementation
  web/package.json
  web/src/apps/main/components/navbar/index.tsx
  web/src/apps/main/components/navbar/lang-switch/index.tsx
  web/src/apps/main/entry/app.tsx
  web/src/apps/main/redux/index.ts
  web/src/apps/main/redux/reducers/settings/index.ts
  web/src/localization/index.tsx
  web/src/localization/locals/ar.ts
  web/src/localization/locals/en.ts
  web/src/localization/locals/fr.ts
  yarn.lock
Labels: localization, web

#270 Impl/localization dir
  common/src/types/index.ts
  web/src/apps/main/components/theme/index.tsx
  web/src/apps/main/redux/reducers/settings/index.ts
Labels: common, web
