Repository dzcode-io/dzcode.io, pull requests merged in 2021-03, with the labels that each got.

#271 - Fixed path.join() erros in webpack config
  web/webpack.config.js
Labels: web

#273 Fix/change deploy dir
  .github/PULL_REQUEST_TEMPLATE.md
  api/vultr/deploy.js
Labels: api

#274 Fix/duplicate authors
  data/models/documentation/About_dzcode_io/info.json
  data/models/documentation/Git_Basics/info.json
  web/src/apps/main/pages/articles/content/index.tsx
  web/src/apps/main/redux/actions/articles-page/index.ts
  web/src/apps/main/redux/actions/documentation-page/index.ts
  web/src/common/utils/index.ts
Labels: data, web

#276 Fix: copyright date auto-update
  web/src/apps/main/components/footer/index.tsx
Labels: web
