Repository dzcode-io/dzcode.io, pull requests merged in 2022-06, with the labels that each got.

#454 FEATURE: Using `react-native-help-create` package
  mobile/README.md
  mobile/package.json
  mobile/rnhc.config.json
  yarn.lock
Labels: dx, mobile

#458 Feature: added "DzCode i/o" to dynamic URLs
  .github/workflows/ci.pr.yml
  web/src/apps/main/entry/webpack.plugins.ts
  yarn.lock
Labels: web

#460 CHORE: did minimize bundle size (`13mb` reduction)
  packages/ui/src/contributor-card/index.tsx
  packages/ui/src/dialog/index.tsx
  packages/ui/src/faq-card/index.tsx
  packages/ui/src/theme/configs/components.ts
  packages/ui/src/theme/configs/palettes.ts
  packages/ui/src/theme/configs/typography.ts
  packages/ui/src/theme/dark-theme.ts
  packages/ui/src/theme/light-theme.ts
  packages/ui/src/theme/plugins-provider.tsx
  packages/ui/src/theme/theme-provider.spec.tsx
  packages/ui/src/theme/theme-provider.tsx
  web/package.json
  web/src/apps/main/components/authors/index.tsx
  web/src/apps/main/components/card/index.tsx
  web/src/apps/main/components/contributor-card/index.tsx
  web/src/apps/main/components/contributors/index.tsx
  web/src/apps/main/components/dialog/index.tsx
  web/src/apps/main/components/footer/index.tsx
  web/src/apps/main/components/markdown/index.tsx
  web/src/apps/main/components/navbar/index.tsx
  web/src/apps/main/components/navbar/ios-switch/index.tsx
  web/src/apps/main/components/navbar/lang-switch/index.tsx
  web/src/apps/main/components/sidebar/index.tsx
  web/src/apps/main/components/theme/index.tsx
  web/src/apps/main/components/theme/palettes/dark.ts
  web/src/apps/main/components/theme/palettes/light.ts
  web/src/apps/main/pages/articles/content/index.tsx
  web/src/apps/main/pages/articles/landing/index.tsx
  web/src/apps/main/pages/contribute/contributions/index.tsx
  web/src/apps/main/pages/contribute/filters/index.tsx
  web/src/apps/main/pages/landing/header/index.tsx
  web/src/apps/main/pages/landing/index.tsx
  web/src/apps/main/pages/landing/mobile/index.tsx
  web/src/apps/main/pages/landing/top-articles/index.tsx
  web/src/apps/main/pages/landing/top-projects/index.tsx
  web/src/apps/main/pages/learn/content/index.tsx
  web/src/apps/main/pages/learn/landing/index.tsx
  web/src/apps/main/pages/not-found/index.tsx
  web/src/apps/main/pages/projects/catalog/index.tsx
  web/src/components/loading/index.tsx
  web/webpack.config.ts
  yarn.lock
Labels: web, ui

#462 CHORE: updated caniuse-lite (browserlist db)
  package.json
  web/webpack.config.ts
  yarn.lock
Labels: web

#464 CHORE: commented out Localization UI
  web/src/apps/main/components/navbar/index.tsx
  web/src/apps/main/redux/reducers/settings/index.ts
Labels: web
