Repository dzcode-io/dzcode.io, pull requests merged in 2022-03, with the labels that each got.

#447 ARTICLE: a first part of how to create a vim plugin for a new progra…
  data/models/articles/Create_A_Vim_Plugin_Part_One/content.md
  data/models/articles/Create_A_Vim_Plugin_Part_One/info.json
  data/models/articles/list.json
Labels: article, data

#448 FEATURE: Show `TryAgain` component when a loading error happens in `./web`
  api/src/app/types/legacy.ts
  data/src/get/collection.ts
  data/src/get/entry.ts
  data/src/index.ts
  mobile/metro.config.js
  packages/ui/src/button/index.ts
  packages/ui/src/try-again/index.tsx
  packages/utils/src/loadable/index.ts
  web/src/apps/main/components/authors/index.tsx
  web/src/apps/main/components/contributors/index.tsx
  web/src/apps/main/pages/articles/content/index.tsx
  web/src/apps/main/pages/articles/index.tsx
  web/src/apps/main/pages/contribute/contributions/index.tsx
  web/src/apps/main/pages/landing/top-articles/index.tsx
  web/src/apps/main/pages/landing/top-projects/index.tsx
  web/src/apps/main/pages/learn/content/index.tsx
  web/src/apps/main/pages/learn/index.tsx
  web/src/apps/main/pages/projects/index.tsx
  web/src/apps/main/pages/team/catalog/index.tsx
  web/src/apps/main/pages/team/index.tsx
  web/src/apps/main/redux/actions/articles-page/index.ts
  web/src/apps/main/redux/actions/contribute-page/index.ts
  web/src/apps/main/redux/actions/documentation-page/index.ts
  web/src/apps/main/redux/actions/landing-page/index.ts
  web/src/apps/main/redux/actions/projects-page/index.ts
  web/src/apps/main/redux/actions/team-page/index.ts
  web/src/apps/main/redux/reducers/articles-page/index.ts
  web/src/apps/main/redux/reducers/contribute-page/index.ts
  web/src/apps/main/redux/reducers/landing-page/index.ts
  web/src/apps/main/redux/reducers/learn-page/index.ts
  web/src/apps/main/redux/reducers/projects-page/index.ts
  web/src/apps/main/redux/reducers/team-page/index.tsx
  web/src/common/utils/fetch/index.ts
Labels: data, web, api, mobile, utils

#449 FEATURE: Setup React Error Boundaries in `./web`
  .github/workflows/ci.main.yml
  packages/ui/package.json
  packages/ui/src/error-boundary/index.tsx
  packages/ui/src/link/index.tsx
  web/package.json
  web/src/apps/main/entry/app.tsx
  web/src/apps/main/entry/index.tsx
  web/src/apps/main/pages/articles/index.tsx
  web/src/apps/main/pages/contribute/index.tsx
  web/src/apps/main/pages/faq/index.tsx
  web/src/apps/main/pages/landing/index.tsx
  web/src/apps/main/pages/learn/index.tsx
  web/src/apps/main/pages/not-found/index.tsx
  web/src/apps/main/pages/projects/index.tsx
  web/src/apps/main/pages/team/index.tsx
  yarn.lock
Labels: web

#450 FEATURE: Show `TryAgain` component when a loading error happens in `./mobile`
  .github/labeler.yml
  .github/workflows/ci.pr.yml
  README.md
  api/src/app/endpoints.ts
  mobile/app.json
  mobile/src/components/try-again/index.tsx
  mobile/src/redux/actions/articles-screen/index.ts
  mobile/src/redux/actions/contribute-screen/index.ts
  mobile/src/redux/actions/learn-screen/index.ts
  mobile/src/redux/actions/projects-screen/index.ts
  mobile/src/redux/reducers/articles-screen/index.ts
  mobile/src/redux/reducers/contribute-screen/index.ts
  mobile/src/redux/reducers/learn-screen/index.ts
  mobile/src/redux/reducers/projects-screen/index.ts
  mobile/src/screens/articles/article-details/index.tsx
  mobile/src/screens/articles/articles-list/index.tsx
  mobile/src/screens/contribute/index.tsx
  mobile/src/screens/learn/document-details/index.tsx
  mobile/src/screens/learn/documents-list/index.tsx
  mobile/src/screens/projects/index.tsx
  package.json
  packages/utils/src/loadable/index.ts
  web/src/apps/main/redux/actions/articles-page/index.ts
Labels: web, api, mobile, utils

#451 FEATURE: Setup React Error Boundaries in `./mobile`
  mobile/package.json
  mobile/src/components/error-boundary/index.tsx
  mobile/src/components/try-again/index.tsx
  mobile/src/entry/index.tsx
  mobile/src/redux/actions/articles-screen/index.ts
  mobile/src/redux/actions/contribute-screen/index.ts
  mobile/src/redux/actions/learn-screen/index.ts
  mobile/src/redux/actions/projects-screen/index.ts
  mobile/src/screens/articles/article-details/index.tsx
  mobile/src/screens/articles/articles-list/index.tsx
  mobile/src/screens/articles/navigation.tsx
  mobile/src/screens/contribute/index.tsx
  mobile/src/screens/faq/index.tsx
  mobile/src/screens/learn/document-details/index.tsx
  mobile/src/screens/learn/documents-list/index.tsx
  mobile/src/screens/learn/navigation.tsx
  mobile/src/screens/projects/index.tsx
  yarn.lock
Labels: mobile
