Repository dzcode-io/dzcode.io, pull requests merged in 2022-09, with the labels that each got.

#481 FEATURE: Using `@reduxjs/toolkit` in mobile codebase
  mobile/README.md
  mobile/package.json
  mobile/rnhc.config.json
  mobile/src/components/drawer-content/styles.ts
  mobile/src/entry/index.tsx
  mobile/src/redux/actions/articles-screen/index.ts
  mobile/src/redux/actions/contribute-screen/index.ts
  mobile/src/redux/actions/general/index.ts
  mobile/src/redux/actions/learn-screen/index.ts
  mobile/src/redux/actions/projects-screen/index.ts
  mobile/src/redux/index.ts
  mobile/src/redux/reducers/articles-screen/adapters/articles.ts
  mobile/src/redux/reducers/articles-screen/index.ts
  mobile/src/redux/reducers/articles-screen/selectors/index.ts
  mobile/src/redux/reducers/articles-screen/slice.ts
  mobile/src/redux/reducers/contribute-screen/adapters/contributions.ts
  mobile/src/redux/reducers/contribute-screen/adapters/filters.ts
  mobile/src/redux/reducers/contribute-screen/index.ts
  mobile/src/redux/reducers/contribute-screen/selectors/index.ts
  mobile/src/redux/reducers/contribute-screen/slice.ts
  mobile/src/redux/reducers/faq-screen/index.ts
  mobile/src/redux/reducers/faq-screen/slice.ts
  mobile/src/redux/reducers/general/index.ts
  mobile/src/redux/reducers/general/slice.ts
  mobile/src/redux/reducers/index.ts
  mobile/src/redux/reducers/learn-screen/adapters/documents.ts
  mobile/src/redux/reducers/learn-screen/index.ts
  mobile/src/redux/reducers/learn-screen/selectors/index.ts
  mobile/src/redux/reducers/learn-screen/slice.ts
  mobile/src/redux/reducers/projects-screen/adapters/projects.ts
  mobile/src/redux/reducers/projects-screen/index.ts
  mobile/src/redux/reducers/projects-screen/selectors/index.ts
  mobile/src/redux/reducers/projects-screen/slice.ts
  mobile/src/screens/articles/article-details/index.tsx
  mobile/src/screens/articles/articles-list/index.tsx
  mobile/src/screens/contribute/index.tsx
  mobile/src/screens/faq/index.tsx
  mobile/src/screens/learn/document-details/index.tsx
  mobile/src/screens/learn/documents-list/index.tsx
  mobile/src/screens/projects/card-item/index.tsx
  mobile/src/screens/projects/index.tsx
  yarn.lock
Labels: dx, mobile

#484 Chore: use Redux Toolkit on `./web`
  packages/utils/src/loadable/index.ts
  web/package.json
  web/src/_entry/app.tsx
  web/src/_entry/index.tsx
  web/src/components/authors/index.tsx
  web/src/components/contributors/index.tsx
  web/src/components/footer/footer.spec.tsx
  web/src/components/footer/index.tsx
  web/src/components/link-v2/index.ts
  web/src/components/markdown/index.tsx
  web/src/components/navbar/index.tsx
  web/src/components/navbar/lang-switch/index.tsx
  web/src/components/t/index.ts
  web/src/components/theme/index.tsx
  web/src/pages/articles/content/index.tsx
  web/src/pages/articles/index.tsx
  web/src/pages/contribute/contributions/index.tsx
  web/src/pages/contribute/filters/index.tsx
  web/src/pages/contribute/index.tsx
  web/src/pages/faq/index.int.spec.tsx
  web/src/pages/faq/index.tsx
  web/src/pages/landing/header/header.spec.tsx
  web/src/pages/landing/index.tsx
  web/src/pages/landing/milestones/index.tsx
  web/src/pages/landing/mobile/index.tsx
  web/src/pages/learn/content/index.tsx
  web/src/pages/learn/index.tsx
  web/src/pages/not-found/index.tsx
  web/src/pages/projects/index.tsx
  web/src/pages/team/index.tsx
  web/src/redux/actions/articles-page/index.ts
  web/src/redux/actions/contribute-page/index.ts
  web/src/redux/actions/documentation-page/index.ts
  web/src/redux/actions/landing-page/index.ts
  web/src/redux/actions/projects-page/index.ts
  web/src/redux/actions/team-page/index.ts
  web/src/redux/index.ts
  web/src/redux/reducers/_subscribers.ts
  web/src/redux/reducers/articles-page/index.ts
  web/src/redux/reducers/articles/index.ts
  web/src/redux/reducers/contribute-page/index.ts
  web/src/redux/reducers/documentation/index.ts
  web/src/redux/reducers/faq-page/faq-data.ts
  web/src/redux/reducers/faq-page/index.ts
  web/src/redux/reducers/footer-component/index.ts
  web/src/redux/reducers/footer-component/sections.ts
  web/src/redux/reducers/index.ts
  web/src/redux/reducers/landing-page/index.ts
  web/src/redux/reducers/learn-page/index.ts
  web/src/redux/reducers/navbar-component/index.ts
  web/src/redux/reducers/projects-page/index.ts
  web/src/redux/reducers/settings/index.ts
  web/src/redux/reducers/team-page/index.ts
  web/src/redux/reducers/team-page/index.tsx
  web/src/redux/selectors.ts
  web/src/redux/utils.ts
  web/src/types/__global.d.ts
  yarn.lock
Labels: dx, web, utils

#487 CHORE: cleaned up some todos
  api/src/app/index.ts
  api/src/app/middlewares/robots.ts
  web/src/redux/index.ts
  web/src/utils/index.ts
Labels: web, api

#491 Chore: Using relative imports in mobile codebase
  mobile/README.md
  mobile/babel.config.js
  mobile/package.json
  mobile/src/components/drawer-content/styles.ts
  mobile/src/components/loading/styles.ts
  mobile/src/config/index.ts
  mobile/src/entry/index.tsx
  mobile/src/redux/actions/articles-screen/index.ts
  mobile/src/redux/actions/contribute-screen/index.ts
  mobile/src/redux/actions/general/index.ts
  mobile/src/redux/actions/learn-screen/index.ts
  mobile/src/redux/actions/projects-screen/index.ts
  mobile/src/redux/reducers/articles-screen/selectors/index.ts
  mobile/src/redux/reducers/articles-screen/slice.ts
  mobile/src/redux/reducers/contribute-screen/selectors/index.ts
  mobile/src/redux/reducers/contribute-screen/slice.ts
  mobile/src/redux/reducers/faq-screen/slice.ts
  mobile/src/redux/reducers/general/slice.ts
  mobile/src/redux/reducers/learn-screen/selectors/index.ts
  mobile/src/redux/reducers/learn-screen/slice.ts
  mobile/src/redux/reducers/projects-screen/adapters/projects.ts
  mobile/src/redux/reducers/projects-screen/selectors/index.ts
  mobile/src/redux/reducers/projects-screen/slice.ts
  mobile/src/screens/articles/article-details/index.tsx
  mobile/src/screens/articles/article-details/styles.ts
  mobile/src/screens/articles/articles-list/index.tsx
  mobile/src/screens/articles/articles-list/styles.ts
  mobile/src/screens/articles/navigation.tsx
  mobile/src/screens/contribute/card-item/index.tsx
  mobile/src/screens/contribute/card-item/styles.ts
  mobile/src/screens/contribute/index.tsx
  mobile/src/screens/contribute/styles.ts
  mobile/src/screens/faq/index.tsx
  mobile/src/screens/faq/styles.ts
  mobile/src/screens/learn/document-details/index.tsx
  mobile/src/screens/learn/document-details/styles.ts
  mobile/src/screens/learn/documents-list/index.tsx
  mobile/src/screens/learn/documents-list/styles.ts
  mobile/src/screens/learn/navigation.tsx
  mobile/src/screens/navigation.tsx
  mobile/src/screens/projects/card-item/index.tsx
  mobile/src/screens/projects/card-item/styles.ts
  mobile/src/screens/projects/index.tsx
  mobile/src/styles/global.ts
  mobile/src/utils/fetch/index.ts
  mobile/tsconfig.json
  package.json
  packages/tooling/.eslintrc.json
  yarn.lock
Labels: dx, mobile

#497 Feat: Setup `@dzcode.io/ui-mobile` package
  mobile/package.json
  mobile/src/screens/navigation.tsx
  packages/ui-mobile/babel.config.js
  packages/ui-mobile/jest.config.ts
  packages/ui-mobile/package.json
  packages/ui-mobile/src/_test/pre-test.ts
  packages/ui-mobile/src/_test/setup.ts
  packages/ui-mobile/src/app-bar/index.test.tsx
  packages/ui-mobile/src/app-bar/index.tsx
  packages/ui-mobile/tsconfig.json
  yarn.lock
Labels: enhancement, ui/ux, mobile

#498 Feat: Migrate mobile common components to `@dzcode.io/ui-mobile`
  README.md
  mobile/src/screens/articles/article-details/index.tsx
  mobile/src/screens/articles/articles-list/index.tsx
  mobile/src/screens/articles/navigation.tsx
  mobile/src/screens/contribute/index.tsx
  mobile/src/screens/faq/index.tsx
  mobile/src/screens/learn/document-details/index.tsx
  mobile/src/screens/learn/documents-list/index.tsx
  mobile/src/screens/learn/navigation.tsx
  mobile/src/screens/navigation.tsx
  mobile/src/screens/projects/card-item/index.tsx
  mobile/src/screens/projects/index.tsx
  packages/tooling/.prettierignore
  packages/ui-mobile/assets/png/adaptive-icon.png
  packages/ui-mobile/assets/png/branching.png
  packages/ui-mobile/assets/png/contact.png
  packages/ui-mobile/assets/png/favicon.png
  packages/ui-mobile/assets/png/github.png
  packages/ui-mobile/assets/png/icon.png
  packages/ui-mobile/assets/png/info.png
  packages/ui-mobile/assets/png/logo.png
  packages/ui-mobile/assets/png/programmer.png
  packages/ui-mobile/assets/png/splash.png
  packages/ui-mobile/assets/png/support.png
  packages/ui-mobile/assets/ttf/spacemono-regular.ttf
  packages/ui-mobile/babel.config.js
  packages/ui-mobile/jest.config.ts
  packages/ui-mobile/src/drawer-content/index.test.tsx
  packages/ui-mobile/src/drawer-content/index.tsx
  packages/ui-mobile/src/drawer-content/styles.ts
  packages/ui-mobile/src/error-boundary/index.test.tsx
  packages/ui-mobile/src/error-boundary/index.tsx
  packages/ui-mobile/src/loading/index.test.tsx
  packages/ui-mobile/src/loading/index.tsx
  packages/ui-mobile/src/loading/styles.ts
  packages/ui-mobile/src/try-again/index.test.tsx
  packages/ui-mobile/src/try-again/index.tsx
  packages/ui-mobile/src/utils/constants.ts
Labels: enhancement, ui/ux, mobile

#501 Feat: show milestone progress for in-progress milestone
  packages/ui/src/milestones/index.tsx
Labels: ui

#504 Chore: replaced `ttsc` with `ts-patch`
  api/package.json
  data/package.json
  mobile/package.json
  package.json
  packages/models/package.json
  packages/ui-mobile/package.json
  packages/ui/package.json
  packages/utils/package.json
  yarn.lock
Labels: data, api, mobile, models, utils, ui
