Repository dzcode-io/dzcode.io, pull requests merged in 2022-10, with the labels that each got.

#500 Feat: Migrate navigation components from `./mobile` to `@dzcode.io/ui-mobile`
  mobile/package.json
  mobile/src/entry/index.tsx
  mobile/src/screens/articles/article-details/index.tsx
  mobile/src/screens/articles/articles-list/index.tsx
  mobile/src/screens/articles/navigation.tsx
  mobile/src/screens/faq/index.tsx
  mobile/src/screens/learn/documents-list/index.tsx
  mobile/src/screens/learn/navigation.tsx
  mobile/src/screens/navigation.tsx
  packages/ui-mobile/jest.config.ts
  packages/ui-mobile/package.json
  packages/ui-mobile/src/_test/setup.ts
  packages/ui-mobile/src/drawer-actions/index.ts
  packages/ui-mobile/src/drawer-nav/index.test.tsx
  packages/ui-mobile/src/drawer-nav/index.tsx
  packages/ui-mobile/src/hooks/index.ts
  packages/ui-mobile/src/navigation-container/index.test.tsx
  packages/ui-mobile/src/navigation-container/index.ts
  packages/ui-mobile/src/stack-nav/index.test.tsx
  packages/ui-mobile/src/stack-nav/index.tsx
  packages/ui-mobile/src/types/index.ts
  yarn.lock
Labels: enhancement, ui/ux, mobile

#503 Feat: Migrate used `react-native-paper` components to `@dzcode.io/ui-mobile`
  mobile/package.json
  mobile/src/entry/index.tsx
  mobile/src/screens/articles/article-details/index.tsx
  mobile/src/screens/articles/article-details/styles.ts
  mobile/src/screens/articles/articles-list/index.tsx
  mobile/src/screens/articles/articles-list/styles.ts
  mobile/src/screens/articles/navigation.tsx
  mobile/src/screens/contribute/index.tsx
  mobile/src/screens/contribute/styles.ts
  mobile/src/screens/faq/index.tsx
  mobile/src/screens/faq/styles.ts
  mobile/src/screens/learn/document-details/index.tsx
  mobile/src/screens/learn/document-details/styles.ts
  mobile/src/screens/learn/documents-list/index.tsx
  mobile/src/screens/learn/documents-list/styles.ts
  mobile/src/screens/learn/navigation.tsx
  mobile/src/screens/navigation.tsx
  mobile/src/screens/projects/index.tsx
  mobile/src/styles/global.ts
  mobile/src/utils/constants.ts
  packages/ui-mobile/jest.config.ts
  packages/ui-mobile/src/badge/index.test.tsx
  packages/ui-mobile/src/badge/index.ts
  packages/ui-mobile/src/button/index.test.tsx
  packages/ui-mobile/src/button/index.ts
  packages/ui-mobile/src/card/index.test.tsx
  packages/ui-mobile/src/card/index.ts
  packages/ui-mobile/src/checkbox/index.test.tsx
  packages/ui-mobile/src/checkbox/index.ts
  packages/ui-mobile/src/chip/index.test.tsx
  packages/ui-mobile/src/chip/index.ts
  packages/ui-mobile/src/contribute-card/index.test.tsx
  packages/ui-mobile/src/contribute-card/index.tsx
  packages/ui-mobile/src/contribute-card/styles.ts
  packages/ui-mobile/src/divider/index.test.tsx
  packages/ui-mobile/src/divider/index.ts
  packages/ui-mobile/src/filters/index.test.tsx
  packages/ui-mobile/src/filters/index.tsx
  packages/ui-mobile/src/hooks/index.ts
  packages/ui-mobile/src/list/index.test.tsx
  packages/ui-mobile/src/list/index.ts
  packages/ui-mobile/src/paragraph/index.test.tsx
  packages/ui-mobile/src/paragraph/index.ts
  packages/ui-mobile/src/project-card/index.test.tsx
  packages/ui-mobile/src/project-card/index.tsx
  packages/ui-mobile/src/project-card/styles.ts
  packages/ui-mobile/src/styles/colors.ts
  packages/ui-mobile/src/text/index.test.tsx
  packages/ui-mobile/src/text/index.ts
  packages/ui-mobile/src/theme-provider/index.test.tsx
  packages/ui-mobile/src/theme-provider/index.ts
  packages/ui-mobile/src/themes/index.ts
  packages/ui-mobile/src/title/index.test.tsx
  packages/ui-mobile/src/title/index.ts
  packages/ui-mobile/src/types/index.ts
Labels: enhancement, ui/ux, mobile

#506 Feat: Migrate `react-native-markdown-display` to `@dzcode.io/ui-mobile`
  mobile/package.json
  mobile/src/screens/articles/article-details/index.tsx
  mobile/src/screens/learn/document-details/index.tsx
  packages/ui-mobile/package.json
  packages/ui-mobile/src/loading/index.tsx
  packages/ui-mobile/src/markdown/index.test.tsx
  packages/ui-mobile/src/markdown/index.tsx
  yarn.lock
Labels: enhancement, ui/ux, mobile

#509 Feat: Migrate `@gorhom/bottom-sheet` to `@dzcode.io/ui-mobile`
  mobile/package.json
  mobile/src/screens/contribute/index.tsx
  packages/ui-mobile/package.json
  packages/ui-mobile/src/_test/setup.ts
  packages/ui-mobile/src/bottom-sheet-scroll-view/index.test.tsx
  packages/ui-mobile/src/bottom-sheet-scroll-view/index.ts
  packages/ui-mobile/src/bottom-sheet/index.test.tsx
  packages/ui-mobile/src/bottom-sheet/index.tsx
  packages/ui-mobile/src/bottom-sheet/styles.ts
Labels: enhancement, ui/ux, mobile

#510 PHP JSON Tongue
  data/models/projects-v2/PHP_JSON_Tongue/info.json
Labels: project, data, hacktoberfest-accepted

#516 Chore: add `ui-mobile` label to `labeler.yml`
  .github/labeler.yml
Labels: enhancement

#519 adelpro repositories
  data/models/projects-v2/Check_Hadith/info.json
  data/models/projects-v2/MERN_Auth_Roles_Boilerplate/info.json
  data/models/projects-v2/Openadhan/info.json
  data/models/projects-v2/QuranIPFS/info.json
  data/models/projects-v2/list.json
Labels: project, data
