Repository dzcode-io/dzcode.io, pull requests merged in 2023-04, with the labels that each got.

#564 feat: move articles endpoint from `./data` to `./api`
  README.md
  api/src/app/endpoints.ts
  api/src/app/index.ts
  api/src/article/controller.ts
  api/src/article/types.ts
  api/src/data/service.ts
  api/src/data/types.ts
  mobile/src/redux/actions/articles-screen/index.ts
  mobile/src/redux/reducers/articles-screen/adapters/articles.ts
  mobile/tsconfig.json
  packages/models/src/article/__snapshots__/index.spec.ts.snap
  packages/models/src/article/index.spec.ts
  packages/models/src/article/index.ts
  packages/models/src/contributor/index.ts
  packages/models/src/repository/index.ts
  web/src/redux/actions/articles-page/index.ts
  web/src/redux/actions/documentation-page/index.ts
Labels: web, api, mobile, models

#544 chore: Mobile UI Design parity with web for mobile
  mobile/src/_entry/app.spec.tsx
  mobile/src/_entry/app.tsx
  mobile/src/redux/reducers/projects-screen/adapters/projects.ts
  mobile/src/screens/articles/article-details/index.tsx
  mobile/src/screens/articles/article-details/styles.ts
  mobile/src/screens/contribute/index.tsx
  mobile/src/screens/learn/document-details/index.tsx
  mobile/src/screens/projects/index.tsx
  packages/ui-mobile/src/avatar/avatar-group/index.test.tsx
  packages/ui-mobile/src/avatar/avatar-group/index.tsx
  packages/ui-mobile/src/avatar/avatar-group/styles.ts
  packages/ui-mobile/src/avatar/avatar/index.test.tsx
  packages/ui-mobile/src/avatar/avatar/index.ts
  packages/ui-mobile/src/card/contribute-card/index.test.tsx
  packages/ui-mobile/src/card/contribute-card/index.tsx
  packages/ui-mobile/src/card/contribute-card/styles.ts
  packages/ui-mobile/src/card/project-card/index.test.tsx
  packages/ui-mobile/src/card/project-card/index.tsx
  packages/ui-mobile/src/card/project-card/styles.ts
  packages/ui-mobile/src/markdown/index.tsx
  packages/ui-mobile/src/theme/index.ts
Labels: mobile, ui-mobile

#573 delete server code on data and clear cloud resources
  README.md
  api/src/data/service.ts
  data/firebase/.firebaserc
  data/firebase/.gitignore
  data/firebase/firebase.json
  data/package.json
  data/src/build.ts
  data/src/collection.ts
  data/src/config/index.ts
  data/src/entry.ts
  data/src/index.ts
  mobile/package.json
  package.json
  packages/tooling/.prettierignore
  web/src/build/pages/dynamic-pages.ts
  web/src/build/sitemap.ts
  web/src/redux/actions/articles-page/index.ts
  web/src/utils/fetch/index.ts
  yarn.lock
Labels: data, web, api, mobile

#577 deleted `/Contributors` & `/GithubUsers` endpoints
  api/src/app/endpoints.ts
  api/src/app/index.ts
  api/src/contributor/controller.spec.ts
  api/src/contributor/controller.ts
  api/src/contributor/types.ts
  api/src/github-user/controller.ts
  api/src/github-user/types.ts
  packages/tooling/jest.config.ts
  packages/tooling/tsconfig.json
Labels: api, tooling

#579 Remove old interfaces, types and entities
  .gitignore
  api/package.json
  api/src/_test/mocks.ts
  api/src/app/endpoints.ts
  api/src/app/types/legacy.ts
  api/src/article/controller.ts
  api/src/contribution/mock.ts
  api/src/documentation/controller.ts
  api/src/github/service.spec.ts
  api/src/github/service.ts
  api/src/github/types.ts
  api/src/project/controller.ts
  api/src/team/repository.ts
  api/src/team/types.ts
  data/package.json
  mobile/src/screens/articles/article-details/index.tsx
  package.json
  packages/models/src/account/__snapshots__/index.spec.ts.snap
  packages/models/src/account/index.spec.ts
  packages/models/src/account/index.ts
  packages/models/src/contributor/__snapshots__/index.spec.ts.snap
  packages/models/src/contributor/index.spec.ts
  packages/models/src/contributor/index.ts
  packages/models/src/repository/index.ts
  packages/tooling/.prettierignore
  packages/tooling/patches/@sentry-internal+tracing+7.46.0.patch
  packages/tooling/setup-ts-prune.ts
  packages/ui/.ts-prunerc
  packages/ui/package.json
  packages/ui/src/__mocks__/create-contributors.ts
  packages/ui/src/article/index.tsx
  packages/ui/src/card/contributor/index.tsx
  web/.ts-prunerc
  web/package.json
  yarn.lock
Labels: data, web, api, mobile, feature, models, tooling, ui

#580 bugfix: all GitHub related api endpoints fails when GitHub service fails
  api/src/contribution/repository.ts
  api/src/fetch/service.ts
  api/src/github/service.ts
  api/src/project/controller.ts
  api/src/team/repository.ts
  data/models/projects/Mishkal/info.json
Labels: project, data, api, fix

#581 Fixed bug where projects endpoint stuck
  api/src/fetch/service.ts
  api/src/project/controller.ts
  packages/utils/src/concurrency/index.ts
Labels: api, utils, fix
