Repository dzcode-io/dzcode.io, pull requests merged in 2023-03, with the labels that each got.

#548 Add files via upload
  data/models/projects-v2/Classifieds/info.json
Labels: data

#557 feat: move projects endpoint from `./data` to `./api`
  api/src/app/index.ts
  api/src/contribution/repository.ts
  api/src/contributor/controller.ts
  api/src/data/service.ts
  api/src/data/types.ts
  api/src/github/service.spec.ts
  api/src/github/service.ts
  api/src/github/types.ts
  api/src/milestone/controller.ts
  api/src/project/controller.ts
  api/src/project/types.ts
  api/src/team/repository.ts
  packages/models/src/contributor/__snapshots__/index.spec.ts.snap
  packages/models/src/contributor/index.spec.ts
  packages/models/src/project-reference/index.ts
  packages/models/src/project/index.ts
  packages/models/src/repository-reference/index.ts
  packages/models/src/repository/__snapshots__/index.spec.ts.snap
  packages/models/src/repository/index.spec.ts
  packages/models/src/repository/index.ts
Labels: api, models

#558 feat: show languages and contributors in project card
  api/src/app/endpoints.ts
  mobile/src/redux/actions/projects-screen/index.ts
  packages/ui/src/_hooks/use-colors.ts
  packages/ui/src/avatar/index.tsx
  packages/ui/src/card/project/index.tsx
  packages/ui/src/icon/contribution/index.tsx
  web/src/pages/projects/index.tsx
  web/src/redux/actions/projects-page/index.ts
  web/src/redux/reducers/projects-page/index.ts
Labels: web, api, mobile, ui
