Repository dzcode-io/dzcode.io, pull requests merged in 2024-09, with the labels that each got.

#598 chore: CI/CD refactoring
  .github/labeler.yml
  .github/workflows/cd.deploy.stg.yml
  .github/workflows/cd.deploy.yml
  .github/workflows/ci.main.yml
  .github/workflows/ci.pr.e2e.yml
  .github/workflows/ci.pr.yml
  .github/workflows/ci.reusable.build.yml
  .github/workflows/ci.reusable.lint.yml
  .github/workflows/ci.reusable.misc.yml
  .github/workflows/ci.reusable.test-coverage.yml
  .github/workflows/ci.reusable.test-e2e.yml
  .github/workflows/codeql-analysis.yml
  .gitignore
  README.md
  api/package.json
  data/jest.config.json
Labels: data, api, repo

#599 feat: Lighthouse setup
  .github/workflows/cd.deploy.stg.yml
  .github/workflows/cd.deploy.yml
  .github/workflows/ci.reusable.lighthouse.yml
  .gitignore
  README.md
  api/oracle-cloud/deploy.ts
  api/oracle-cloud/docker-compose.yml
  api/oracle-cloud/nginx.conf
  package-lock.json
  packages/tooling/.prettierignore
  web/lighthouserc.cjs
  web/package.json
Labels: web, api, feature, tooling, repo

#600 feat: Hourly metrics
  .github/release-drafter.yml
  .github/workflows/cd.deploy.stg.yml
  .github/workflows/ci.hourly.yml
  .github/workflows/ci.reusable.lighthouse.yml
Labels: feature, repo

#601 fix: robots.txt
  api/package.json
  api/src/app/index.ts
  api/src/app/middlewares/robots.ts
  package-lock.json
  web/package.json
  web/src/_build/gen-robots-txt.ts
Labels: web, api, fix

#602 fix: Apply lighthouse tips
  .github/workflows/ci.hourly.yml
  package-lock.json
  web/package.json
  web/postcss.config.js
  web/rsbuild.config.ts
  web/src/_build/gen-multiple-htmls.ts
  web/src/_entry/index.html
  web/src/components/footer.tsx
  web/src/components/top-bar.tsx
  web/src/utils/sentry-origin.ts
  web/src/utils/setup-sentry.ts
Labels: web, fix, repo

#603 fix: Cloudflare 404 redirect
  web/package.json
  web/src/_build/gen-multiple-htmls.ts
  web/src/_build/gen-robots-txt.ts
  web/src/_build/pages/static-pages.ts
Labels: web, fix

#606 add fun project
  data/models/projects/Fun/info.json
Labels: project, data

#605 feat: Project detail page
  .github/workflows/cd.deploy.stg.yml
  .github/workflows/cd.deploy.yml
  .gitignore
  api/db/migrations/0000_melodic_shotgun.sql
  api/db/migrations/0001_black_eternals.sql
  api/db/migrations/meta/0000_snapshot.json
  api/db/migrations/meta/0001_snapshot.json
  api/db/migrations/meta/_journal.json
  api/oracle-cloud/docker-compose.yml
  api/package.json
  api/src/app/endpoints.ts
  api/src/app/index.ts
  api/src/app/middlewares/error.ts
  api/src/app/middlewares/security.ts
  api/src/contribution/repository.ts
  api/src/contributor/repository.ts
  api/src/digest/cron.ts
  api/src/github/types.ts
  api/src/project/controller.ts
  api/src/project/repository.ts
  api/src/project/types.ts
  api/src/repository/repository.ts
  api/src/repository/table.ts
  data/package.json
  data/src/collection.ts
  package-lock.json
  package.json
  packages/models/package.json
  packages/models/src/language/index.ts
  packages/utils/package.json
  packages/utils/src/config/index.ts
  packages/utils/src/fetch/factory.ts
  web/cloudflare/functions/ar/projects/[slug].ts
  web/cloudflare/functions/projects/[slug].ts
  web/cloudflare/functions/w/projects-sitemap.xml.ts
  web/cloudflare/handler/project.ts
  web/cloudflare/package-lock.json
  web/cloudflare/package.json
  web/cloudflare/scripts/generate-config.ts
  web/cloudflare/tsconfig.json
  web/package.json
  web/src/_build/pages/index.ts
  web/src/_build/pages/static-pages.ts
  web/src/_build/pages/template-pages.ts
  web/src/_entry/app.tsx
  web/src/_entry/style.css
  web/src/components/locale/dictionary.ts
  web/src/components/locale/utils.ts
  web/src/components/redirect.tsx
  web/src/components/top-bar.tsx
  web/src/pages/projects/index.tsx
  web/src/pages/projects/project/index.tsx
  web/src/redux/actions/project.ts
  web/src/redux/slices/project-page.ts
  web/src/redux/store.tsx
  web/src/utils/contribution.ts
  web/src/utils/contributor.ts
  web/src/utils/fetch.ts
  web/src/utils/loadable.ts
  web/src/utils/project.ts
Labels: data, web, api, feature, models, utils, repo
