Repository dzcode-io/dzcode.io, pull requests merged in 2024-12, with the labels that each got.

#612 [ New Project ] : add CourierDZ is a PHP client Project
  data/models/projects/Courier_Dz/info.json
Labels: project

#610 feat: contributor page
  api/package.json
  api/src/app/endpoints.ts
  api/src/contribution/repository.ts
  api/src/contributor/controller.ts
  api/src/contributor/repository.ts
  api/src/contributor/types.ts
  api/src/digest/cron.ts
  api/src/github/types.ts
  api/src/project/repository.ts
  package-lock.json
  package.json
  web/cloudflare/functions/ar/team/[slug].ts
  web/cloudflare/functions/team/[slug].ts
  web/cloudflare/handler/contributor.ts
  web/cloudflare/package.json
  web/package.json
  web/rsbuild.config.ts
  web/src/_entry/app.tsx
  web/src/components/locale/dictionary.ts
  web/src/pages/contribute/index.tsx
  web/src/pages/projects/index.tsx
  web/src/pages/team/contributor/index.tsx
  web/src/pages/team/index.tsx
  web/src/redux/actions/contributor.ts
  web/src/redux/slices/contributor-page.ts
  web/src/redux/store.tsx
Labels: web, api, feature

#614 feat: sitemap for contributors pages
  api/src/app/endpoints.ts
  api/src/contributor/controller.ts
  api/src/contributor/repository.ts
  api/src/contributor/types.ts
  api/src/project/repository.ts
  web/cloudflare/functions/w/contributors-sitemap.xml.ts
Labels: web, api, feature

#617 Add MeiliSearch service
  README.md
  api/docker-compose.yml
  api/package.json
  api/src/app/index.ts
  api/src/config/types.ts
  api/src/search/controller.ts
  api/src/search/service.ts
  api/src/search/types.ts
  package-lock.json
Labels: api, feature

#618 Create MeiliSearch Indexes
  .gitignore
  README.md
  api/docker-compose.yml
  api/oracle-cloud/docker-compose.yml
  api/package.json
  api/src/app/index.ts
  api/src/search/service.ts
  api/src/search/types.ts
Labels: api, feature

#619 Chore: House keeping
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/release-drafter.yml
  .github/release.yml
  .github/workflows/ci.hourly.yml.skip
  .github/workflows/draft-new-release.yml
  README.md
  api/README.md
  data/models/documentation/Getting_Started/content.md
  web/README.md
  web/src/_entry/app.tsx
  web/src/components/locale/dictionary.ts
Labels: data, web, api, repo

#620 Indexing models during cron job
  api/src/app/index.ts
  api/src/contributor/table.ts
  api/src/digest/cron.ts
  api/src/project/table.ts
  api/src/search/service.ts
  api/src/search/types.ts
Labels: api, feature

#622 fix: prettier cli params were not passed correctly
  api/package.json
  api/src/app/index.ts
  api/src/config/types.ts
  api/src/digest/cron.ts
  api/src/search/service.ts
  data/package.json
  packages/models/package.json
  packages/tooling/.prettierignore
  packages/tooling/package.json
  packages/utils/package.json
  web/package.json
Labels: data, web, api, models, utils, tooling, fix

#623 Search Endpoint
  api/src/search/controller.ts
  api/src/search/service.ts
  api/src/search/types.ts
Labels: api, feature

#624 Global Search
  api/src/app/endpoints.ts
  api/src/search/service.ts
  web/src/_entry/app.tsx
  web/src/components/contribution-card.tsx
  web/src/components/contributor-card.tsx
  web/src/components/locale/dictionary.ts
  web/src/components/project-card.tsx
  web/src/components/search.tsx
  web/src/components/top-bar.tsx
  web/src/pages/contribute/index.tsx
  web/src/pages/projects/index.tsx
  web/src/pages/team/index.tsx
  web/src/utils/search-modal.ts
  web/src/utils/search.ts
Labels: web, api, feature

#627 Feat: categorize projects
  api/db/migrations/0001_classy_blindfold.sql
  api/db/migrations/0002_cooing_thena.sql
  api/db/migrations/meta/0001_snapshot.json
  api/db/migrations/meta/0002_snapshot.json
  api/db/migrations/meta/_journal.json
  api/src/contributor/table.ts
  api/src/data/types.ts
  api/src/digest/cron.ts
  api/src/project/repository.ts
  api/src/project/table.ts
  api/src/project/types.ts
  api/src/repository/table.ts
  api/src/tag/repository.ts
  api/src/tag/table.ts
  data/models/projects/AiPalettes/info.json
  data/models/projects/Algeria_Covid19_Tracker/info.json
  data/models/projects/Algeria_Logos/info.json
  data/models/projects/Algeria_Startup_Jobs/info.json
  data/models/projects/Algeria_boukal/info.json
  data/models/projects/Algerian_Administrative_Division/info.json
  data/models/projects/Algerian_Education_System/info.json
  data/models/projects/AlgeriansCoinsObjectDetection/info.json
  data/models/projects/Archiy_Package/info.json
  data/models/projects/Check_Hadith/info.json
  data/models/projects/Courier_Dz/info.json
  data/models/projects/Face_Mask_Detect/info.json
  data/models/projects/Flutter_Reaction_Button/info.json
  data/models/projects/Fun/info.json
  data/models/projects/Godaddy_Reseller/info.json
  data/models/projects/Gold_Prices_Web/info.json
  data/models/projects/List_to_Tree_aka_l2t/info.json
  data/models/projects/MERN_Auth_Roles_Boilerplate/info.json
  data/models/projects/Melyon_Theme/info.json
  data/models/projects/Mishkal/info.json
  data/models/projects/Moadaly/info.json
  data/models/projects/Mylinks_Space/info.json
  data/models/projects/Openadhan/info.json
  data/models/projects/PHP_JSON_Tongue/info.json
  data/models/projects/Python_Complex/info.json
  data/models/projects/QuranIPFS/info.json
  data/models/projects/React_Glassmorphism_Components/info.json
  data/models/projects/React_Native_Currency_Converter/info.json
  data/models/projects/React_Project_Builder/info.json
  data/models/projects/STRM_Test/info.json
  data/models/projects/System_Monitor/info.json
  data/models/projects/Violence_Detection/info.json
  data/models/projects/Voice_Translator_React_Native/info.json
  data/models/projects/Weather_Forecast/info.json
  data/models/projects/dzcode.io_website/info.json
  data/models/projects/list.json
  data/models/projects/who_want_to_millionaire/info.json
  data/models/schemas/project.json
  packages/models/src/tag/index.ts
  web/src/components/locale/dictionary.ts
  web/src/pages/projects/index.tsx
Labels: project, data, web, api, feature, models

#621 Feat: contribution page
  api/src/app/endpoints.ts
  api/src/contribution/controller.ts
  api/src/contribution/repository.ts
  api/src/contribution/types.ts
  web/cloudflare/functions/ar/contribute/[slug].ts
  web/cloudflare/functions/contribute/[slug].ts
  web/cloudflare/functions/w/contributions-sitemap.xml.ts
  web/cloudflare/handler/contribution.ts
  web/src/_entry/app.tsx
  web/src/components/contribution-card.tsx
  web/src/components/locale/dictionary.ts
  web/src/components/project-card.tsx
  web/src/components/search.tsx
  web/src/pages/contribute/contribution/index.tsx
  web/src/redux/actions/contribution.ts
  web/src/redux/slices/contribution-page.ts
  web/src/redux/store.tsx
Labels: web, api, feature

#628 feat: added hey cli project
  data/models/projects/hey-cli/info.json
Labels: project, data

#629 Chore: lowercased urls
  api/src/app/endpoints.ts
  api/src/contribution/controller.ts
  api/src/contributor/controller.ts
  api/src/github/controller.ts
  api/src/milestone/controller.ts
  api/src/project/controller.ts
  api/src/search/controller.ts
  web/src/components/locale/dictionary.ts
  web/src/redux/actions/contribution.ts
  web/src/redux/actions/contributions.ts
  web/src/redux/actions/contributor.ts
  web/src/redux/actions/contributors.ts
  web/src/redux/actions/milestones.ts
  web/src/redux/actions/project.ts
  web/src/redux/actions/projects.ts
  web/src/utils/search.ts
Labels: web, api

#630 Chore: prune dictionary
  packages/tooling/prune-dictionary.ts
  web/package.json
  web/src/components/locale/dictionary.ts
Labels: web, tooling

#631 Fix: set canonical url
  web/cloudflare/handler/contribution.ts
  web/cloudflare/handler/contributor.ts
  web/cloudflare/handler/project.ts
  web/src/_build/gen-multiple-htmls.ts
  web/src/_build/pages/index.ts
  web/src/_build/pages/template-pages.ts
  web/src/_entry/index.html
  web/src/pages/contribute/contribution/index.tsx
  web/src/pages/contribute/index.tsx
  web/src/pages/projects/project/index.tsx
  web/src/utils/contribution.ts
Labels: web, fix

#626 Fix switching languages at root
  web/src/redux/actions/settings.ts
Labels: web, fix
