Repository dzcode-io/dzcode.io, pull requests merged in 2025-04, with the labels that each got.

#646 fix: change pull request trigger to pull_request_target for CI workflow
  .github/workflows/ci.pr.yml
Labels: fix, repo

#645 fix: allow theme state to be persisted
  web/src/components/top-bar.tsx
Labels: web, fix

#647 remove Mylinks project as it does no longer exist
  data/models/projects/Mylinks_Space/info.json
Labels: project, data

#649 add open-listings-dz (swag-dz) project
  data/models/projects/Open_listings/info.json
  data/models/schemas/project.json
Labels: project, data

#650 Feat: basic support for bitucket
  .github/CONTRIBUTING.md
  api/db/migrations/0008_reflective_whistler.sql
  api/db/migrations/meta/0008_snapshot.json
  api/db/migrations/meta/_journal.json
  api/docker-compose.yml
  api/oracle-cloud/deploy.ts
  api/src/bitbucket/service.ts
  api/src/bitbucket/types.ts
  api/src/config/types.ts
  api/src/contributor/table.ts
  api/src/digest/cron.ts
  api/src/github/types.ts
  package.json
  packages/models/src/repository/index.ts
  web/cloudflare/package.json
  web/package.json
  web/src/utils/repository.ts
Labels: web, api, feature, models, repo

#651 fix: fallback to user prefered mode instead of assuming dark mode for first-time theme load
  web/src/components/top-bar.tsx
Labels: web, fix

#652 fix: take down running containers before building
  api/oracle-cloud/deploy.ts
  api/src/bitbucket/types.ts
Labels: api, fix

#654 chore: P1 - `stage.dzcode.io` to new more powerful VPS
  .github/workflows/cd.deploy.stg.yml
  .github/workflows/cd.deploy.yml
  .github/workflows/ci.reusable.misc.yml
  .gitignore
  api/src/digest/cron.ts
  data/package.json
  docker-compose.stage.yml
  package-lock.json
  package.json
  packages/models/package.json
  packages/tooling/.prettierignore
  packages/tooling/package.json
  packages/tooling/setup-ts-prune.ts
  packages/tooling/write-dockerfile.ts
  packages/utils/package.json
  scripts/deploy.rs
  web-server.Dockerfile
  web-server/_global.d.ts
  web-server/package.json
  web-server/src/app/index.ts
  web-server/src/handler/contribution.ts
  web-server/src/handler/contributor.ts
  web-server/src/handler/project.ts
  web-server/src/handler/sitemap/contributions.ts
  web-server/src/handler/sitemap/contributors.ts
  web-server/src/handler/sitemap/generate-xml-sitemap.ts
  web-server/src/handler/sitemap/projects.ts
  web-server/src/handler/templates.ts
  web-server/src/utils/config.ts
  web-server/src/utils/environment.ts
  web-server/src/utils/languages.ts
  web-server/src/utils/paths.ts
  web-server/tsconfig.json
  web/cloudflare/functions/ar/contribute/[slug].ts
  web/cloudflare/functions/ar/projects/[slug].ts
  web/cloudflare/functions/ar/team/[slug].ts
  web/cloudflare/functions/contribute/[slug].ts
  web/cloudflare/functions/projects/[slug].ts
  web/cloudflare/functions/team/[slug].ts
  web/cloudflare/functions/w/contributions-sitemap.xml.ts
  web/cloudflare/functions/w/contributors-sitemap.xml.ts
  web/cloudflare/functions/w/projects-sitemap.xml.ts
  web/cloudflare/handler/contribution.ts
  web/cloudflare/handler/contributor.ts
  web/cloudflare/handler/project.ts
  web/cloudflare/package.json
  web/cloudflare/scripts/generate-config.ts
  web/cloudflare/tsconfig.json
  web/package.json
  web/src/utils/contribution.ts
  web/src/utils/contributor.ts
  web/src/utils/project.ts
  web/tsconfig.json
Labels: data, web, api, models, utils, tooling, repo
